.scale-btn-default{
  background-color: #1ba4ed;
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  right: 1rem;
  font-size: 1rem;
  text-align: center;
  z-index: 100;
  span{
    color: #91f086;
  }
}
.scale-btn-click-on{
  background-color: #f9a08a;
}