@charset "UTF-8";
@import "./../../../../t_boot/less/theme02/include/_mixins";

.student_detail_file{
    .reason-tip{
        margin: 0px;
        font-size: 15px!important;
    }
    .select-reason-checkbox{
        border: none;
        background: none;
        font-size: 13px;
        padding-left: 32px!important;
        .checkbox-icon{
            margin-left: -17px;
        }
    }
}

