<!--竖式格子展示-->


<!--<div>{{ctrl.verticalService.verticalMatrix | json}}</div>-->

<!--题库导入界面-->
<div class="vertical-container" ng-mousedown="ctrl.verticalOnClick($event)">
    <!--<div class="vertical-row">
        <vertical-cell>
            <span class="vertical-cell" vc="cell"></span>
        </vertical-cell>
    </div>-->


    <!--<div class="vertical-row" ng-repeat="r in ctrl.verticalService.verticalMatrix">
        <vertical-cell cell="c" ng-repeat="c in ctrl.verticalService.verticalMatrix[$index]"></vertical-cell>
    </div>-->
</div>

