@charset "UTF-8";
@import "../include/_mixins";

auto-list-con {
  width: 100%;
  auto-list {
    width: 100%;
    position: relative;
    .com_align_item;
    box-sizing: border-box;
    border-top: 3px solid #ffffff;
    border-left: 3px solid #ffffff;
    border-right: 3px solid #ffffff;

    .span-container{
      min-height: 40px;
      background-color: #ffffff;
      border-top: 1px solid #DDDDDD;
      padding: 0px;
      position: relative;
    }
    .display-flex;
    auto-list-content {
      .flex_1;
      min-height: 70px;
      width: 97%;
      margin: 3px 9px;
      position: relative;
      padding-right: 30px;
      //border: 1px solid #ddd;
      border: 1px solid #387EF5;
      background: white;
      /*.thumbnail-left {
        position: absolute;
        left: 5px;
        top: 5px;
        width: 60px;
        height: 60px;
      }*/
      .auto-list-title {
        .overflow-ellipsis;
        font-size: 15px;
        margin: 10px 5px;
        color: #006699;
      }
      .auto-list-info {
        .overflow-ellipsis;
        margin: 5px 5px;
        color: #525050;
        font-size: 15px;
      }
      .auto-list-flex-info {
        display: flex;
        display: -webkit-flex;
        align-items: center;
        -webkit-align-items: center;
        justify-content: center;
        -webkit-align-content: center;
        margin: 5px 5px;
        color: #525050;
        font-size: 15px;
        .first {
          border-right: 1px solid #ddd;
          flex: 1;
          -webkit-flex:1;
          text-align: left;
        }
        .last {
          flex: 1;
          -webkit-flex:1;
          text-align: center;
          color: #525050
        }
      }
      .second {
        /*.white-bold(140, 13px);*/
        color:black;
        .overflow-ellipsis;
        margin-top: 24px;
      }
      .third {
        .white-bold(140, 11px);
        .overflow-ellipsis;
      }
      .tool-bar-right {
        position: absolute;
        right: 5px;
        top: 5px;
        width: auto;
        height: 60px;
        text-align: center;
        .display-flex;
        .com_justify-content;
        .com_align_item;
        i {
          color: #ffffff;
          font-size: 30px;
          padding: 3px;
        }
      }
      .span-left {
        color: #999999;
        line-height: 40px;
        height: 40px;
        position: absolute;
      }
      .span-right {
        color: #000000;
        min-height: 30px;
        float: left;
        margin-left: 90px;
        margin-top: 10px;
      }
    }
  }
}