@charset "UTF-8";

@import "../include/_mixins";

auto-box-con {
  display: block;
  min-height: 200px;
  auto-box-row {
    .display-flex;
    box-sizing: border-box;
    width: 100%;
    auto-box-block {
      .flex_1;
      .display-flex;
      .com_align_item;
      .com_justify-content;
      border: 2px solid #efeff4;
      position: relative;
      .checker {
        position: absolute;
        top: 0;
        right: 0;
        width: 25px;
        height: 25px;
        border-left: 2px solid #ffffff;
        border-bottom: 2px solid #ffffff;
        border-bottom-left-radius: 5px;
        .check-icon {
          right:-3px;
          top:-5px;
          z-index: 500;
          position: absolute;
          color: #ff7e85;
          font-size: 30px;
        }
      }
    /*  .workConten{
        width: inherit;
        height:inherit;
        //margin: 20px auto 0 auto;
        display: inline-block;
        img {
          margin-left: 15px;
        }
        div{
          display: block;
          flex: 1;
          min-height: 70px;
          position: relative;
          padding-left: 70px;
          padding-right: 30px;
          .center{
            overflow: auto;
            .first {
              .white-bold(160, 13px);
              .overflow-ellipsis;
              margin-top: 5px;
              height:20px;
            }
            .second {
              .white-bold(140, 13px);
              .overflow-ellipsis;
              height: 20px;
            }
            .third {
              .white-bold(140, 13px);
              .overflow-ellipsis;
              height: 20px;
            }
          }
        }
      }*/
      .workConten {
        display: block;
        min-height:70px;
        width: 100%;
        margin-bottom: 5px;
        position: relative;
        .workLeft {
          display: block;
          position: absolute;
          left: 5px;
          top: 5px;
          width: 80px;
          height: 80px;
          z-index: 999;
        }
        .workLeft img{
          width: 80px;
          height: 80px;
        }
        .workCenter{
          display: block;
          .flex_1;
          min-height: 90px;
          position: relative;
          padding-left: 90px;
          padding-right: 30px;
          text-align: left;
          margin: 10px;
          .center{
            overflow: auto;
            padding-top: 5px;
            height: auto;
            .first {
              //.white-bold(160, 13px);
              //.overflow-ellipsis;
              margin-top: 5px;
              height:20px;
            }
            .second {
              //.white-bold(140, 13px);
              //.overflow-ellipsis;
              color: #004444;
              height: 20px;
            }
            .third {
              //.white-bold(140, 13px);
              //.overflow-ellipsis;
              height: 20px;
            }

          }
        }
      }
      .progressDiv{
        display: block;
        .flex_1;
      }
      .btnContent{
        width: 100px;
        height:80px;
      }
      .block-content {
        width: 100px;
        height:80px;
        //margin: 20px auto 0 auto;


        img {
          width: 60px;
          margin-left: 20px;
        }
        div {
          width: 60px;
          margin: 20px 0px;
          .white-bold(0, 17);
          text-align: center;
        }

      }
    }
  }
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  width: 100%;
  .col {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    padding: 2px;
    width: 100%;
  }
  .col-10{
    -webkit-box-flex:0;
    -webkit-flex:0 0 10%;
    -moz-box-flex:0;
    -moz-flex:0 0 10%;
    -ms-flex:0 0 10%;
    flex:0 0 10%;
    max-width:10%
  }
  .col-20{
    -webkit-box-flex:0;
    -webkit-flex:0 0 20%;
    -moz-box-flex:0;
    -moz-flex:0 0 20%;
    -ms-flex:0 0 20%;
    flex:0 0 20%;
    max-width:20%
  }
  .col-30{
    -webkit-box-flex:0;
    -webkit-flex:0 0 30%;
    -moz-box-flex:0;
    -moz-flex:0 0 30%;
    -ms-flex:0 0 30%;
    flex:0 0 30%;
    max-width:30%
  }
  .col-40{
    -webkit-box-flex:0;
    -webkit-flex:0 0 40%;
    -moz-box-flex:0;
    -moz-flex:0 0 40%;
    -ms-flex:0 0 40%;
    flex:0 0 40%;
    max-width:40%
  }
  .col-50{
    -webkit-box-flex:0;
    -webkit-flex:0 0 50%;
    -moz-box-flex:0;
    -moz-flex:0 0 50%;
    -ms-flex:0 0 50%;
    flex:0 0 50%;
    max-width:50%
  }
  .col-60{
    -webkit-box-flex:0;
    -webkit-flex:0 0 60%;
    -moz-box-flex:0;
    -moz-flex:0 0 60%;
    -ms-flex:0 0 60%;
    flex:0 0 60%;
    max-width:60%
  }
  .col-70{
    -webkit-box-flex:0;
    -webkit-flex:0 0 70%;
    -moz-box-flex:0;
    -moz-flex:0 0 70%;
    -ms-flex:0 0 70%;
    flex:0 0 70%;
    max-width:70%
  }
  .col-80{
    -webkit-box-flex:0;
    -webkit-flex:0 0 80%;
    -moz-box-flex:0;
    -moz-flex:0 0 80%;
    -ms-flex:0 0 80%;
    flex:0 0 80%;
    max-width:80%
  }
  .col-90{
    -webkit-box-flex:0;
    -webkit-flex:0 0 90%;
    -moz-box-flex:0;
    -moz-flex:0 0 90%;
    -ms-flex:0 0 90%;
    flex:0 0 90%;
    max-width:90%
  }
}
