@charset "UTF-8";

.set-list{
  position: relative;
  min-height: 30px;
}

.set-icon{
  position: relative;
  height: 20px;
  line-height: 20px;
}
.set-add-icon{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #6DB2E6;
  text-align: center;
  display: inline-block;
  color: #fff;
  line-height: 17px;
  font-size: 27px;
  margin-right: 20px;
}
.set-remove-icon{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #6DB2E6;
  text-align: center;
  display: inline-block;
  color: #fff;
  line-height: 17px;
  font-size: 27px;
}