.achievement .achievement_header{
  background-color: #96F3F5;
  color: #4A6B9D;
}
.achievement .has-tabs, .bar-footer.has-tabs {
  bottom: 0px;
}

.achievement .col-md-3, .col-xs-6 {
  padding: 2px;
}

.achievement .select-content {
  margin: 10px auto;
  color: #28a54c;
  background: #c0e9f8;
  border-radius: 10px;
  box-shadow: 1px 1px 3px #ccc;
}

.achievement .select-content .select-options {
  width: 42%;
  background: none;
  border: none;
  float: right
}

.achievement .achievement-item {
  border-radius: 7px;
  width: 99%;
}

.achievement .achievement-item .achievement-title {
  margin: 10px auto;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  padding-top: 5px;
}

.achievement .box-text-align {
  text-align: center;
}
.achievement .bar-better{
  background: #83DCF5!important;
  h1{
    font-family: 'Microsoft YaHei';color: #4a6b9d
  }
}
