@charset "UTF-8";
@import "../../../../m_boot/less/theme01/include/_mixins";
.clazz-study-statistics-file{
  .block-content  {
    div{
      color: #553333!important;
    }
  }
  .select-wrap{
    position: relative;
    z-index:300;
   /* background-color: #f8d754;*/
    padding: 10px 15px;
    box-sizing: border-box;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    > div{
      width: 48%;
    }
  }
  .font-bold{
    font-size: 22px;
    color: #dd2222!important;
    font-weight: bold;
  }
  .table-container {
    margin-left: 0px;
    margin-right: 0px;
  }
  .col{
    padding: 3px!important;
  }
  .row{
    padding: 0px!important;
    margin-left: 0!important;
    margin-right: 0!important;
  }
  .table-row {
    border: none;
  }
  .table-header {
    background-color: #fff;
    color: #4a6b9d;
    font-size: 16px;
  }
  .item{
    border:none;
  }
  .data-row{
    font-size: 30px;
  }

  .s_work_list_con {
    background: #83dcf5;
    color: #4a6b9d;
    .bg-img-wrap{
      padding-top: 50px;
      width: 100%;
      text-align: center;
      img {
        max-height: 381px;
        max-width: 510px;
        width: 70%;
      }
    }
  }
  .bar-balanced{
    background: #83dcf5!important;
  }
  .bar-balanced .button.button-clear{
    color: #4a6b9d!important;
  }
  .bar.bar-balanced .title{
    color: #4a6b9d!important;
    font-weight: bold;
  }

  .pub-times{
    padding: 10px;
    text-align: center;
    font-size: 16px;
  }

  .card-better{
    box-shadow: 2px 2px 0px #ddd;
  }

  .count-tip{
    font-size: 16px;
    text-align: center;
    padding: 10px 10px 0px 10px;
    .outstanding{
      font-size: 18px;
    }
  }
}



