@charset "UTF-8";
@import "../../../../t_boot/less/theme02/include/_mixins";
.score_distribution_file{
  .block-content  {
    div{
      color: #553333!important;
    }
  }
  .table-container {
    margin-left: 0px;
    margin-right: 0px;
  }
  .row{
    display: flex;
    display: -webkit-flex;
  }
  .table-row {
    border: none;
  }
  .table-header {
    background-color: #83D5F3;
    color: #4A6B9D;
    font-size: 15px;
  }
  .table-col  {
    a{
      color: #357ab3;
    }
  }
  .item{
    border:none;
  }

  .can-click{
    color: #357ab3;
    text-decoration: underline;
  }

  .score_title{
    color: #4A6B9D!important;
  }

  a{
    color:black !important;
  }
}
