oral-calculation-list {
  .oral-question {
    padding-top: 60px;
    .correct-img {
      position: absolute;
      width: 75px;
    }
    .right {
      left: 0;
      top: 0;
      height: 50px;
    }
    .wrong {
      left: -6px;
      top: -6px;
      height: 45px;
    }

  }
  .oral-question-correct{
    padding-top: 0;
  }

}

