@charset "UTF-8";
@import '../../../../m_boot/less/theme01/include/_mixins';


.olympic_math_work_detail{
  .paper-title-box{
    background:  linear-gradient(to bottom, #C974E9 0%, #936BE4 100%);
    background: linear-webkit-gradient(to bottom, #C974E9 0%,#936BE4 100%);
    .olympic-math-bg-cloud-01{
      position: absolute;
      bottom: 0px;
      left: -10px;
      height: 40%;
      max-height: 130px;
    }
    .olympic-math-bg-cloud-02{
      position: absolute;
      bottom: 0px;
      left: 70px;
      height: 15%;
      max-height: 80px;
    }
    .olympic-math-bg-cloud-03{
      position: absolute;
      bottom: 0px;
      right: -7px;
      height: 15%;
      max-height: 80px;
      transform: scale(-1, 1);
      -webkit-transform: scale(-1, 1);
    }
    .olympic-math-cup-bg{
      position: absolute;
      bottom: 0px;
      left: -14px;
      height: 45%;
      max-height: 180px;
      z-index: 100;
    }
    .deserve-score{
      color: white;
    }
    .actual-score{
      color: #F9D959;
    }
  }
}