<div class="reward-stu-ad" ng-if="$root.showRewardStuAd">
    <div class="reward-stu-ad-backdrop" ng-click="hideRewardStuAd()">
        <div class="reward-stu-ad-content">
            <div class="reward-stu-ad-head">
                <img ng-src="{{$root.loadImg('work/rewardAdImg/reward_ad_content.png')}}">
            </div>
            <div class="reward-stu-ad-desc">
                <p class="desc-title">智算365可以升等级，攒能量啦！</p>
                <p class="desc-pass1">
                    做作业、玩游戏、通速算、驯萌宠等都会获得经验。积累经验可以提升等级。等级越高解锁的称号也越多。快点击“首页”中的称号，去查看你的称号吧！
                </p>
                <p class="desc-pass2">
                    签到、完成每日任务、去家长端推广智算365都可以获得能量。能量可以兑换奖品哟！快点击“我”>“能量中心”去看看吧！
                </p>
            </div>
            <img class="reward-ad-person" ng-src="{{$root.loadImg('work/rewardAdImg/reward_ad_person.png')}}">
        </div>

    </div>

</div>