@charset "UTF-8";
@import "../../../../t_boot/less/theme02/include/_mixins";
@import "../../../../t_boot/less/theme02/include/common";

.work_list_file {
  @media screen  and (max-width: 600px) {
    .winter-holidays-box {
      height: 100px;
    }

  }
  @media screen  and (min-width: 601px) {
    .winter-holidays-box {
      height: 150px;
    }
  }
  .winter-holidays-box{
    .slider-pager{
      bottom: 2px;
    }
    .slider-pager .slider-pager-page{
      color: #fff;
    }
  }
  .winter-holidays-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #578AD7;
    overflow: hidden;
    .display-flex;
    .snowflakes {
      .snowflake {
        background: url('../../../../t_boot/tImages/work/winter-work/snowflake.png') 0px 0px no-repeat;
        background-size: 100% 100%;
        position: absolute;
        z-index: 101;
      }
      .snowflake1 {
        width: 20px;
        height: 20px;
        bottom: 32%;
        left: -6px;
      }
      .snowflake2 {
        width: 12px;
        height: 12px;
        top: -1%;
        left: 14%;
      }
      .snowflake3 {
        width: 7px;
        height: 7px;
        top: 46%;
        left: 23%;
      }
      .snowflake4 {
        width: 6px;
        height: 6px;
        top: 21%;
        left: 5%;
      }
      .snowflake5 {
        width: 5px;
        height: 5px;
        top: 67%;
        left: 37%;
      }
      .snowflake6 {
        width: 5px;
        height: 5px;
        top: 13%;
        left: 57%;
      }
      .snowflake7 {
        width: 6px;
        height: 6px;
        top: 2%;
        left: 69%;
      }
      .snowflake8 {
        width: 5px;
        height: 5px;
        top: 6%;
        right: 8%;
      }
      .snowflake9 {
        width: 6px;
        height: 6px;
        top: 37%;
        right: 0%;
      }
      .snowflake10 {
        width: 6px;
        height: 6px;
        top: 68%;
        right: 29%;
      }
    }
    .ad-text-wrap {
      height: 100%;
      width: auto;
      text-align: center;
      .display-flex;
      .com_flex-direction_column;
      .ad-text {
        max-width: 190px;
        @media screen  and (max-width: 600px) {
          width: 50%;
        }
        @media screen  and (min-width: 601px) {
          width: 75%;
        }
      }
      .ad-text-detail-btn {
        background-color: #F8ED6D;
        border-radius: 15px;
        color: #994839;
        margin-top: 3px;
        padding: 1px 7px;
        width: auto;
      }
    }

    .christ-xiaogou {
      background: url('../../../../t_boot/tImages/work/winter-work/christ-xiaogou.png') 0px 0px no-repeat;
      width: 25%;
      height: 109%;
      max-width: 140px;
      max-height: 307px;
      background-size: 100% 100%;
      position: absolute;
      right: 2%;
      bottom: -30%;
    }

    .christ-house {
      background: url('../../../../t_boot/tImages/work/winter-work/christ-house.png') 0px 0px no-repeat;
      width: 27%;
      height: 50%;
      max-width: 200px;
      max-height: 273px;
      background-size: 100% 100%;
      position: absolute;
      left: -4%;
      bottom: -15%;
    }
  }
  .winter-holidays-wrap-03 {

    position: relative;
    width: 100%;
    height: 100%;
    background: #615bbd; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#615bbd, #925fb5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#615bbd, #925fb5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#615bbd, #925fb5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#615bbd, #925fb5); /* Standard syntax */
    overflow: hidden;
    .display-flex-pure;
    justify-content: space-between;
    -webkit-justify-content: space-between;

    .broadcast_page_fireworks {
      position: absolute;
      width: 100%;
      height: 100%;
      .broadcast_fireworks_01, .broadcast_fireworks_04, .broadcast_fireworks_05 {
        background: url('../../../../t_boot/tImages/work/winter-work/winter-broadcast-fire-02.png') 0px 0px no-repeat;
        background-size: 100% 100%;
      }
      .broadcast_fireworks_02, .broadcast_fireworks_03 {
        background: url('../../../../t_boot/tImages/work/winter-work/winter-broadcast-fire-01.png') 0px 0px no-repeat;
        background-size: 100% 100%;
      }
      .broadcast_fireworks_01 {
        position: absolute;
        width: 25px;
        height: 25px;
        left: 5%;
        top: 5%;
      }
      .broadcast_fireworks_02 {
        position: absolute;
        width: 35px;
        height: 52px;
        left: 15%;
        top: 10%;
      }
      .broadcast_fireworks_03 {
        position: absolute;
        width: 30px;
        height: 45px;
        right: 25%;
        top: 15%;
      }
      .broadcast_fireworks_04 {
        position: absolute;
        width: 25px;
        height: 25px;
        right: 13%;
        top: 8%;
      }
      .broadcast_fireworks_05 {
        position: absolute;
        width: 38px;
        height: 38px;
        right: -2%;
        top: -3%;
      }

    }

    .broadcast_page_left, .broadcast_page_middle, .broadcast_page_right {
      img {
        display: inline-block;
        width: 95%;
        max-width: 220px;
      }
    }
    .broadcast_page_left, .broadcast_page_right {
      .display-flex-pure;
      align-items: flex-end;
      -webkit-align-items: flex-end;
      .flex_1
    }
    .broadcast_page_left {
      margin: 0 -3% -5% -6%;
      justify-content: flex-start;
      -webkit-justify-content: flex-start;
    }
    .broadcast_page_right {
      margin: 0 -3% -1% -3%;
      justify-content: flex-end;
      -webkit-justify-content: flex-end;
    }
    .broadcast_page_middle {
      .display-flex;
      .flex_2;
    }
    @media screen and (min-width: 1024px) {
      .broadcast_page_left {
        margin: 0 -3% -3.5% -4%;
      }
    }
  }
  //奖杯榜入口
  .work-trophy-rank-wrap {
    background: #f97255 url('../../../../t_boot/tImages/msg/t_msg_trophy_bg_2.png') center center no-repeat;
    .work-trophy-rank {
      width: 100%;
      height: 100%;
      background: url('../../../../t_boot/tImages/msg/t_msg_trophy_bar_bg_2.png') 6% 50% no-repeat;
      background-size: 100px;
      .work-trophy-rank-text {
        .display-flex;
        height: 100%;
        font-size: 20px;
        color: #fff;
      }
    }
  }
  //轮播广告页中的分享页
  .share-rotation-page-warp {
    width: 100%;
    height: 100%;
    background: linear-gradient(#804aa0, #4e5799);
    background: -webkit-linear-gradient(#804aa0, #4e5799);
    .share-rotation-page {
      width: 100%;
      height: 100%;
      background: url('../../../../t_boot/tImages/work/share-rotation-icon-1.png') 50% 50% no-repeat;
      background-size: auto 80%;
    }
  }
  /*竞赛广告*/
  .competition-add-area {
    background: #F7A073 url('../../../../t_boot/tImages/competition_add/competition_background.png') right bottom no-repeat;
    @media screen  and (max-width: 600px) {
      background-size: 150% 80px;
    }
    @media screen  and (min-width: 601px) {
      background-size: 150% 160px;
    }
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .competition-wrap-left {
      width: 80%;
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      align-items: center;
      -webkit-flex-direction: column;
      -webkit-align-items: center;
      color: #fff;
      font-weight: 700;
      @media screen  and (min-width: 601px) {
        width: 90%;
        padding-top: 15px;
      }

      .competition-paper-name {
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 18px;
        padding: 0 5px 5px;
        @media screen  and (min-width: 601px) {
          font-size: 25px;
        }
      }
      .competition-area {
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 10px 0 5px;
        @media screen  and (min-width: 601px) {
          font-size: 20px;
        }
      }
      .competition-details-btn {
        background: #CB2748;
        width: 90px;
        text-align: center;
        border-radius: 20px;
        font-size: 15px;
        font-weight: 500;
        padding: 3px;
      }
    }

    .competition-wrap-right {
      width: 100%;
      position: absolute;
      height: 70px;
      right: -10px;
      top: 30px;
      @media screen  and (min-width: 601px) {
        top: 30px;
        height: 120px;
      }

      .competition-img-car {
        position: absolute;
        z-index: 5;
        height: 100%;
        right: 0;
        bottom: 0;
      }
      .competition-img-flag {
        position: absolute;
        z-index: 6;
        height: 40%;
        right: 90px;
        bottom: 0;
        @media screen  and (min-width: 601px) {
          height: 45%;
          right: 155px;
        }
      }
    }
  }
  /* 假期作业广告 */
  .slide-holiday-homework-ad {
    background: #116fc4 url("../../../../t_boot/tImages/holiday_homework/holiday_wok_summer_ad_0.png") no-repeat;
    background-size: 100% 200%;
    background-position-x: center;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    .display-flex;
    justify-content: space-around;
    -webkit-justify-content:space-around;
    .img-left{
      height: 75%;
      display: block;
      z-index: 10;
      margin-right: -20px;
    }
    .img-right{
      margin-right: -100px;
      height: 120%;
      margin-bottom: -50px;
      z-index: 0;
    }
  }

  .monitor-ad-wrap{
    background: #fed845 url("../../../../t_boot/tImages/monitor_ad/stu_study_index_monitor_1.png") no-repeat center/cover;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    .display-flex;
    .img-middle{
      height: 100%;
      margin-top: 8px;
    }
  }
  //口算广告
  .oral-calculation-ad{
    background: #73c6ee; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#73c6ee, #5f91da); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#73c6ee, #5f91da); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#73c6ee, #5f91da); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#73c6ee, #5f91da); /* Standard syntax */
    //.display-flex;
    //flex-direction: column;
    //-wekbit-flex-direction: column;
    text-align: center;
    padding-top: 5px;
    height: 100%;
  }

  //教师出题 广告
  .teacher_personal_qb_home_ad {
    background: -webkit-linear-gradient(#ef5623, #f09c61); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ef5623, #f09c61); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ef5623, #f09c61); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ef5623, #f09c61); /* Standard syntax */
    text-align: center;
    height: 100%;
    position: relative;
    overflow: hidden;
    .display-flex;
    .ad_img_01 {
      width: 50%;
      max-width: 300px;
      position: relative;
      z-index: 5;
      margin: auto 0;
    }
    .ad_img_02 {
      position: absolute;
      height: 90%;
      max-height: 145px;
      right: -20px;
      bottom: -15%;
      z-index: 1;
    }
    .ad_img_03{
      position: absolute;
      height: 80%;
      max-height: 145px;
      left: 5px;
      bottom: -15%;
      z-index: 1;
    }

  }
  .bar-better {
    background: #bcfcf8 !important;
    height: 100px;
    //.display-flex-pure;
    //flex-direction: row;
    //-webkit-flex-direction: row;
    //.com_align_item;
    //.com_justify_content_space;
  }

  ion-header-bar .title {
    left: 0 !important;
    right: 0 !important;
  }

  ion-list {
    .summer-work-item:nth-child(2n) .item-content {
      background: #D7FDED;
    }
    .summer-work-item:nth-child(2n+1) .item-content {
      background: #B7FDFD;
    }
    .winter-work-item:nth-child(2n+1) .item-content {
      background: #FCF8C7 !important;
    }
    .winter-work-item:nth-child(2n) .item-content {
      background: #F9EF7D !important;
    }
    .default-work-item:nth-child(2n+1) .item-content {
      .ion-item-odd;
    }
    .oral-work-item:nth-child(2n+1) .item-content {
      background: #99ecfd !important;
    }
    .oral-work-item:nth-child(2n) .item-content {
      background: #e3fdfd !important;
    }
    .final-access-work-item .item-content{
      background: #fdcc2c !important;
    }
  }

  .select-bar {
    margin: 7px 0px;
    /*border: 1px solid #ddd;*/
    /*    border-radius: 13px;*/
    /*    box-shadow: 0px 0px 18px #ddd;*/
    padding-left: 14px;
    /* border-width: 1px!important;
     border-style: solid!important;
     border-color: #ddd!important;*/
    color: #7c3c25 !important;
    background: #F9E18E !important;
  }

  .select-class-bar {
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 3px;
  }

  .show-clazz-work-bar {
    /* margin-left: 3px;
     margin-right: 5px;*/
    flex: 1;
    -webkit-flex: 1;
    margin: 0;
    color: #3F4367 !important;
    background: #83D5F3 !important;
    position: relative;
    text-align: center;
    height: 100%;
    span {
      font-size: 17px;
      width: 80%;
      text-align: center;
    }
    img {
      /*  width: 42px;*/
      position: absolute;
      top: 13px;
      left: 0px;
    }
  }

  .show-clazz-work-bar:nth-child(3) {
    margin-top: 0;
  }

  .item-row {
    margin-top: 7px;
    margin-bottom: 7px;
    width: 100%;
    color: #003366;
    .img-text-warp {
      text-align: center;
    }
    .img-block {
      border-radius: 50%;
      text-align: center;
      img {
        width: 100%;
      }
    }
    @media screen and (max-width: 760px) {
      .img-block {
        width: 35px;
        margin-left: 6px;
      }

      .text-block {
        font-size: 12px;
      }
    }

    @media screen and (min-width: 761px) {
      .img-block {
        width: 60px;
      }

      .text-block {
        font-size: 16px;
      }
    }

  }

  .bg-box {
    position: relative;
    @media screen and (max-width: 760px) {
      height: 100px;
    }
    @media screen and (min-width: 761px) {
      height: 160px;
    }
    width: 100%;
    .bg-img {
      height: 100%;
      width: 100%;
    }
    .bg-tree {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 90%;
    }
    .bg-people {
      position: absolute;
      height: 35%;
      @media screen and (max-width: 320px) {
        bottom: 9%;
        left: 64px;
      }
      @media screen and (min-width: 321px) and (max-width: 760px) {
        bottom: 9%;
        left: 86px;
      }
      @media screen and (min-width: 761px) {
        bottom: 12px;
        left: 135px;
      }

    }
    .bg-cloud {
      position: absolute;
      top: 0;
      right: 0;
      height: 55%;
    }
    .bg-text3 {
      position: absolute;
      bottom: 6px;
      right: 10px;
      height: 23%;
    }

    .bg-inner-box {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      .bg-inner-box1 {
        width: 50%;
        max-width: 465px;
        height: 100%;
        margin: auto;
        position: relative;
        .bg-text1 {
          position: absolute;
          top: 15%;
          left: 10%;
          height: 25%;
          //width: 50%;
          //max-width: 279px;
        }
        .bg-text2 {
          position: absolute;
          bottom: 25%;
          right: 10%;
          height: 25%;
          //width: 50%;
          //max-width: 299px;
        }
      }
    }
  }

  .month-bar {
    font-weight: bold;
    font-size: 16px;
    color: #61646B;
    background: #E9EDF3;
    margin: 0 5px;
    padding: 5px 16px;
    width: 110%;
    margin-left: 0;
  }

  .item-avatar {
    .item-content {
      padding-left: 95px;
      padding-right: 5px;
      padding-top: 16px;
    }
    .new-icon {
      position: absolute;
      top: 26px;
      left: 30px;
      width: 28px;
      height: 15px;
    }
    .work-tag {
      position: absolute;
      width: 30px;
      -webkit-font-smoothing: subpixel-antialiased;
      left: 0;
      top: 0;
    }
    .s-work-tag-icon {
      position: absolute;
      top: 13px;
      left: 40%;
      width: 110px;
      height: 79.5px;
      opacity: 0.7;
      z-index: 1000;
    }
  }
  .item-avatar .item-content > img:first-child {
    max-width: 45px;
    max-height: 45px;
    border-radius: 0px;
    left: 33px;
    top: 29px;
  }
  .display-flex {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    .content-left {
      flex: 7;
      -webkit-flex: 7
    }
    .content-right {
      flex: 3;
      -webkit-flex: 3
    }

  }
  .item {
    border-width: 0px;
    border-style: none;
  }
  .content-left {
    overflow: hidden;
  }

  .button.button-assertive {
    background-color: #F5615C;
  }

  .content-font-color h2, .content-font-color p {
    color: #3F4367 !important;
  }

  .winter-work-item .content-font-color h2, .winter-work-item .content-font-color p {
    color: #CB7643 !important;
  }

  .menu-content.pane{
    background-color: #e9edf3;
  }
  .divHeadBar {
    top: 105px !important;
    background: #e9edf3 !important;
  }

  .divHeadBtn {
    .display-flex;
    height: 88px;
    width: 100%;
    font-size: 15px;
    margin: 0 0 5px 0;
    text-align: center;
    background: #e9edf3;
    .div-head-btn-left{
      height: 100%;
      color: #3F4367;
      .flex_3;
      .display-flex-pure;
      flex-direction: column;
      -webkit-flex-direction: column;
      border-radius: 5px;
      justify-content: space-between;
      -webkit-justify-content: space-between;
    }
    .spanStyle {
      width: 20px;
      text-align: center;
    }

    .className {
      //.flex_1;
      .display-flex;
      background-color: #F9E18E;
      height: 41px;
      border-radius: 5px;
    }
    .study {
      //.flex_1;
      .display-flex;
      .details {
        .display-flex;
        flex: 1;
        -webkit-flex: 1;
        height: 100%;
        background-color: #f9a08a;
        border-radius: 5px;
        margin-right: 5px;
      }
      .docs {
        .display-flex;
        flex: 1;
        -webkit-flex: 1;
        //color: #3F4367;
        height: 100%;
        background-color: #83d5f3;
        border-radius: 5px;
      }
      height: 42px;
    }
    .work_pub {
      .flex_2;
      height: 100%;
      width: 100%;
      background: #91f086;
      color: #2d4030;

      text-align: center;
      border-radius: 5px;
      margin-left: 5px;
      div{
        .flex_1;
      }
      div img{
        height: 30px;
      }
      span{
        padding: 0 10px;
      }
    }
  }

  .game_clazz_select {
    top: 40px;
    border-left-width: 6px;
    background: #6997eb;
  }

  .game_clazz_select_img {
    margin-top: 14px;
    width: 105px;
    min-height: 56px;
  }

  .clazz-item {
    background: white;
    border-radius: 7px;
    width: 99%;
    padding: 15px 0;
    min-height: 158px;
    text-align: center;
  }
  .clazz-name {
    font-size: 17px;
    margin-top: 10px;
  }
  .work_clazz_select_block {
    padding: 6px 14px;
  }

  .all_ad_box {
    width: 100%;
    .display_flex(row, space-between, center);
    .winter-holidays-wrap-03-new {
      flex: 1;
      -webkit-flex: 1;
    }
    .oral_arithmetic_ad {
      flex: 1;
      -webkit-flex: 1;
      .display_flex(row, center, center);
      .background_change(#72c7ef, #5c88d8);
      position: relative;
      width: 100%;
      height: 100%;
      img {
        width: 80%;
        max-width: 300px;
      }
    }

  }

  .display_flex(@dir,@justify,@align) {
    display: flex;
    display: -webkit-flex;
    flex-direction: @dir;
    -webkit-flex-direction: @dir;
    justify-content: @justify;
    -webkit-justify-content: @justify;
    align-items: @align;
    -webkit-align-items: @align;
  }

  .background_change(@color1,@color2) {
    background: -webkit-linear-gradient(@color1, @color2); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(@color1, @color2); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(@color1, @color2); /* Firefox 3.6 - 15 */
    background: linear-gradient(@color1, @color2); /* 标准的语法 */
  }

  .holiday-work-box{
    padding-left: 95px;
    background-color: #baeff2;
    img{
      max-width: 45px!important;
      max-height: 45px!important;
      left: 30px!important;
      top: 28px!important;
    }
  }
  //区域测评
  .area-evaluation-box{
    .display_flex(row,center,center);
    background: #F3B765;
    width: 90%;
    height: 84px;
    position: relative;
    border-radius: 8px;
    margin: 10px auto;
    overflow: hidden;
    .area-evaluation-img{
      position: absolute;
      height: 76px;
      left: -27px;
      bottom: -20px;
    }
    .area-evaluation-text{
      .display_flex(column,center,center);
      .title{
        font-size: 16px;
        color: #AF1616;
        font-weight: bold;
        line-height: 30px;
      }
      .des{
        font-size: 14px;
        line-height: 18px;
        color: #AF1616;
      }
    }
    &>i{
      position: absolute;
      top:31px;
      right: 10px;
      color: #3f3cb0;
    }
  }
  .area-evaluation-list{
    .display_flex(column,center,flex-start);
    .area-evaluation-item{
      .display_flex(row,center,center);
      width: 100%;
      background: #ffc837;
      &:nth-child(even){
        background: #fcd5b4;
      }
      padding: 10px 0;
      .ae-item-left{
        width: 50px;
        margin: 0 20px;
      }
      .ae-item-middle{
        .display_flex(column,flex-start,flex-start);
        flex: 1;
        -webkit-flex: 1;
        font-size: 14px;
        color: #333;
        overflow: hidden;
        .title{
          font-size: 16px;
          color: red;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 100%;
        }
        .red{
          color: red;
        }
        span{
          line-height: 20px;
        }
      }
      .ae-item-right{
        width: 96px;
        .display_flex(column,center,center);
        font-size: 14px;
        color: #333;
        span{
          line-height: 18px;
        }
      }
    }
    .arrow-box{
      .display_flex(row,center,center);
      height: 30px;
      color: #333;
      font-size: 14px;
      width: 100%;
      i{
        margin-left: 5px;
      }
    }
  }
}
.work_list_file_win{
  ion-side-menus ion-side-menu-content ion-header-bar{
    padding: 16px;
    .divHeadBtn{
      height: 128px;
      .div-head-btn-left{
        .className{
          border-bottom: 2px solid #dadada;
          height: 61px;
        }
        .study .details{
          border-right: 2px solid #dadada;
          line-height: 62px;
        }
        .study{
          height: 62px;
        }
      }
    }
  }
}



