.micro-goods-weixin-pay {
  width: 100%;
  height: 100%;
  background:  linear-gradient(to bottom, #8158d2 0%,#b950dc 30%);;
  .background_change(@color1,@color2) {
    background: -webkit-linear-gradient(@color1, @color2); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(@color1, @color2); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(@color1, @color2); /* Firefox 3.6 - 15 */
    background: linear-gradient(@color1, @color2); /* 标准的语法 */
  }
  .display-flex(@direction,@justify,@align) {
    display: flex;
    display: -webkit-flex;
    flex-direction: @direction;
    -webkit-flex-direction: @direction;
    align-items: @align;
    -webkit-align-items: @align;
    justify-content: @justify;
    -webkit-justify-content: @justify;
  }
  .myHeader {
    background: rgba(252, 111, 86, 0) !important;
    border: none;

    .title, .button i {
      color: #fff !important;
    }
  }

  .weixin_pay_display(@dir) {
    display: flex;
    display: -webkit-flex;
    flex-direction: @dir;
    -webkit-flex-direction: @dir;
  }
  .weixin_pay_display_vc (@vc) {
    align-items: @vc;
    -webkit-align-items: @vc;
  }

  .weixin_pay_justify_content(@content) {
    justify-content: @content;
    -webkit-justify-content: @content;
  }

  .wxPay-ion-content {
    top: 10% !important;
    height: 100%;
    width: 100%;
    .scroll {
      width: 100%;
      height: 100%;
    }

    .screen-font-size(@font){
      @media screen and(min-width:768px){
        font-size:@font;
      }
    }

    .wxPayContent {
      height: 100%;
      background: rgba(252, 111, 86, 0) !important;

      .productDetails {
        background: #fffbe8;
        color: #4d4264;
        width: 90%;
        //height: 35%;
        min-height: 230px;
        margin: 0 5% 4% 5%;
        //font-size: 16px;
        border-radius: 10px;
        .screen-font-size(20px);

        @media screen and(min-width:414px){
          height: 40%;
        }
        .title{
          font-size: 20px;
          color: #8c56d4;
          font-weight: bold;
          height: 60px;
          .display-flex(row,center,center)
        }
        .img-list{
          .display-flex(column,space-between,center);
          //height: 110px;
          img{
            //height: 32px;
          }
        }
        .num-box{
          .display-flex(row,center,center);
          height: 90px;
          img{
            width: 40px;
          }
          span{
            font-size: 30px;
            color: #de381b;
            font-weight: bold;
            margin-left: 6px;
          }
        }
      }

      .money {
        width: 90%;
        height: 10%;
        min-height: 45px;
        text-align: right;
        //margin: 3% 2%;
        margin: 3% 2% 1% 2%;
        .weixin_pay_display(column);
        .weixin_pay_justify_content(flex-end);
        p {
          margin: 0px;
        }

        .moneyAll{
          font-size: 16px;
          color:#fff;
          font-weight: bold;
          .screen-font-size(25px);
        }
        .moneyNum {
          color: #fdec05;
          font-size: 30px;
          font-weight: bold;
          .screen-font-size(35px);
        }
      }

      //支付按钮
      .payBtn {
        width: 90%;
        height: 35%;
        min-height: 150px;
        max-height: 350px;
        margin-left: 5%;
        color: #4d4264;
        .screen-font-size(20px);

        .display-flex {
          display: flex;
          display: -webkit-flex;
          justify-content: flex-start;
          -webkit-justify-content: flex-start;
          -webkit-align-items: center;
          align-items: center;
          flex-flow: row;
          -webkit-flex-flow: row;
        }

        .clicked {
          background: #d1cdcd !important;
        }
        .btn {
          font-size: 16px;
          padding: 8px 0 8px 10%;
          width: 100%;
          margin-bottom: 10px;
          border-radius: 7px;
          background: #fff;

          span {
            margin-left: 5px;
          }

          .imgQr {
            width: 32px;
            height: 32px;
          }
        }

        .protocol {
          color:#fff;
          text-align: center;
          font-size: 16px;
          @media screen and(max-width:320px){
            font-size: 13px;
          }
          .my-checkBox{
            @media screen and(max-height:500px){
              padding: 0 !important;
            }
          }
        }
      }

    }
  }

}





