.micro_lecture_pay_protocol {
  background: #EAEAE8;

  .gamePayHead{
    background: #52b6f1 !important;
  }

  h5 {
    text-align: center;
  }

  .protocolText {
    width: 90%;
    height: 100%;
    margin-left: 5%;

    .clauseTitle {
      font-size: 14px;
    }

    .clause {
      font-size: 13px;
    }
  }
}

