.chapter_game_list_file{
    .col-md-3, .col-xs-6 {
        padding: 5px;
        float: left;
    }

    @media screen and (min-width: 600px) {
        .col-md-3 {
            width: 25%;
        }
    }

    @media screen and (max-width: 600px) {
        .col-xs-6 {
            width: 50%;
        }
    }
    .game_list_first{
        margin-top: 10px;
    }
}