.pet-img-warp{
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: flex-end;
  -webkit-align-items: flex-end;

  .pet-img{}

  .pet-1-0{
    height: 157px;
    width:150px;
    background-image: url('../../../../m_global/sImages/pet_page/pet_1_0.png');
    background-size:auto 100%;
    background-repeat: no-repeat;
    background-position: bottom;

  }
  .pet-1-1{
    height: 157px;
    width:136px;
    background-image: url('../../../../m_global/sImages/pet_page/pet_1_1_1.png');
    background-position: 7px -2px;
  }
  .pet-1-2{
    height: 196px;
    width:175px;
    background-image: url('../../../../m_global/sImages/pet_page/pet_1_2_1.png');
    background-position: 5px -2px;
  }
  .pet-1-3{
    height: 258px;
    width:370px;
    background-image: url('../../../../m_global/sImages/pet_page/pet_1_3_1.png');
    background-position: 10px -3px;
  }
  .pet-1-4{
    height: 433px;
    width: 425px;
    background-image: url('../../../../m_global/sImages/pet_page/pet_1_4.png');
    background-position: -1289px -2px;
    transform: scale(0.7);
    transform-origin: bottom;
    -webkit-transform: scale(0.7);
    -webkit-transform-origin: bottom;
  }

  .pet-3-0{
    height: 157px;
    width:150px;
    background-image: url('../../../../m_global/sImages/pet_page/pet_3_0.png');
    background-size:auto 100%;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  .pet-3-1{
    height: 181px;
    width:179px;
    background-image: url('../../../../m_global/sImages/pet_page/pet_3_1_1.png');
    background-position: 7px -2px;
  }
  .pet-3-2{
    height: 209px;
    width:180px;
    background-image: url('../../../../m_global/sImages/pet_page/pet_3_2_1.png');
    background-position: -2px -2px;
  }
  .pet-3-3{
    height: 247px;
    width:264px;
    background-image: url('../../../../m_global/sImages/pet_page/pet_3_3_1.png');
    background-position: 1px 0px;
  }
  .pet-3-4{
    height: 355px;
    width:284px;
    background-image: url('../../../../m_global/sImages/pet_page/pet_3_4.png');
    background-position: -866px -2px;
    transform: scale(0.9);
    transform-origin: bottom;
    -webkit-transform: scale(0.9);
    -webkit-transform-origin: bottom;

  }

  .pet-2-0{
    height: 157px;
    width:150px;
    background-image: url('../../../../m_global/sImages/pet_page/pet_2_0.png');
    background-size:auto 100%;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  .pet-2-1{
    height: 151px;
    width:161px;
    background-image: url('../../../../m_global/sImages/pet_page/pet_2_1_1.png');
    background-position: 5px -2px;
  }
  .pet-2-2{
    height: 192px;
    width:166px;
    background-image: url('../../../../m_global/sImages/pet_page/pet_2_2_1.png');
    background-position: 7px 1px;
  }
  .pet-2-3{
    height: 208px;
    width:260px;
    background-image: url('../../../../m_global/sImages/pet_page/pet_2_3.png');
    background-position: -797px -2px;
  }
  .pet-2-4{
    height: 371px;
    width:359px;
    background-image: url('../../../../m_global/sImages/pet_page/pet_2_4.png');
    background-position: -1091px -2px;
    transform: scale(0.8);
    transform-origin: bottom;
    -webkit-transform: scale(0.8);
    -webkit-transform-origin: bottom;
  }

  .eat-pet-1-1{
    background-image: url('../../../../m_global/sImages/pet_page/pet_1_1.png');
    animation:eat-pet-1-1 375ms steps(1) 2;
    -webkit-animation:eat-pet-1-1 375ms steps(1) 2;
  }
  .eat-pet-1-2{
    background-image: url('../../../../m_global/sImages/pet_page/pet_1_2.png');
    animation:eat-pet-1-2 375ms steps(1) 2;
    -webkit-animation:eat-pet-1-2 375ms steps(1) 2;
  }
  .eat-pet-1-3{
    background-image: url('../../../../m_global/sImages/pet_page/pet_1_3.png');
    animation:eat-pet-1-3 375ms steps(1) 2;
    -webkit-animation:eat-pet-1-3 375ms steps(1) 2;
  }
  .eat-pet-1-4{
    animation:eat-pet-1-4 375ms steps(1) 2;
    -webkit-animation:eat-pet-1-4 375ms steps(1) 2;
  }

  .eat-pet-2-1{
    background-image: url('../../../../m_global/sImages/pet_page/pet_2_1.png');
    animation:eat-pet-2-1 375ms steps(1) 2;
    -webkit-animation:eat-pet-2-1 375ms steps(1) 2;
  }
  .eat-pet-2-2{
    background-image: url('../../../../m_global/sImages/pet_page/pet_2_2.png');
    animation:eat-pet-2-2 375ms steps(1) 2;
    -webkit-animation:eat-pet-2-2 375ms steps(1) 2;
  }
  .eat-pet-2-3{
    animation:eat-pet-2-3 375ms steps(1) 2;
    -webkit-animation:eat-pet-2-3 375ms steps(1) 2;
  }
  .eat-pet-2-4{
    animation:eat-pet-2-4 375ms steps(1) 2;
    -webkit-animation:eat-pet-2-4 375ms steps(1) 2;
  }

  .eat-pet-3-1{
    background-image: url('../../../../m_global/sImages/pet_page/pet_3_1.png');
    animation:eat-pet-3-1 375ms steps(1) 2;
    -webkit-animation:eat-pet-3-1 375ms steps(1) 2;
  }
  .eat-pet-3-2{
    background-image: url('../../../../m_global/sImages/pet_page/pet_3_2.png');
    animation:eat-pet-3-2 375ms steps(1) 2;
    -webkit-animation:eat-pet-3-2 375ms steps(1) 2;
  }
  .eat-pet-3-3{
    background-image: url('../../../../m_global/sImages/pet_page/pet_3_3.png');
    animation:eat-pet-3-3 375ms steps(1) 2;
    -webkit-animation:eat-pet-3-3 375ms steps(1) 2;
  }
  .eat-pet-3-4{
    animation:eat-pet-3-4 375ms steps(1) 2;
    -webkit-animation:eat-pet-3-4 375ms steps(1) 2;
  }

  .pet-phase-update{

  }

  @keyframes eat-pet-1-1 {
    0%    {background-position: -422+9px -2px;}
    12.5% {background-position: -842+9px -2px;}
    25%   {background-position: -702+9px -2px;}
    37.5% {background-position: -562+9px -2px;}
    50%   {background-position: -982+9px -2px;}
    62.5% {background-position: -282+9px -2px;}
    75%   {background-position: -142+9px -2px;}
    87.5% {background-position: -2+9px   -2px;}
    100%  {background-position: -422+9px -2px;}
  }
  @keyframes eat-pet-1-2 {
    0%    {background-position: -539+7px -2px;}
    12.5% {background-position: -897+7px -2px;}
    25%   {background-position: -718+7px -2px;}
    37.5% {background-position: -1076+7px -2px;}
    50%   {background-position: -360+7px -2px;}
    62.5% {background-position: -1076+7px -2px;}
    75%   {background-position: -181+7px -2px;}
    87.5% {background-position: -2+7px   -2px;}
    100%  {background-position: -539+7px -2px;}
  }
  @keyframes eat-pet-1-3 {
    0%    {background-position: -1124+11px -2px;}
    12.5% {background-position: -376+11px -264px;}
    25%   {background-position: -2+11px -264px;}
    37.5% {background-position: -1498+11px -2px;}
    50%   {background-position: -750+11px -264px;}
    62.5% {background-position: -750+11px -2px;}
    75%   {background-position: -376+11px -2px;}
    87.5% {background-position: -2+11px   -2px;}
    100%  {background-position: -1124+11px -2px;}
  }
  @keyframes eat-pet-1-4 {
    0%    {background-position: -1289px -2px;}
    12.5% {background-position: -860px -439px;}
    25%   {background-position: -431px -439px;}
    37.5% {background-position: -2px -439px;}
    50%   {background-position: -1289px -439px;}
    62.5% {background-position: -860px -2px;}
    75%   {background-position: -431px -2px;}
    87.5% {background-position: -2px   -2px;}
    100%  {background-position: -1289px -2px;}

  }

  @keyframes eat-pet-3-1 {
    0%    {background-position: -551+9px -2px;}
    12.5% {background-position: -1100+9px -2px;}
    25%   {background-position: -917+9px -2px;}
    37.5% {background-position: -734+9px -2px;}
    50%   {background-position: -1283+9px -2px;}
    62.5% {background-position: -368+9px -2px;}
    75%   {background-position: -185+9px -2px;}
    87.5% {background-position: -2+9px   -2px;}
    100%  {background-position: -551+9px -2px;}
  }
  @keyframes eat-pet-3-2 {
    0%    {background-position: -554+3px -2px;}
    12.5% {background-position: -1106+3px -2px;}
    25%   {background-position: -922+3px -2px;}
    37.5% {background-position: -738+3px -2px;}
    50%   {background-position: -1290+3px -2px;}
    62.5% {background-position: -370+3px -2px;}
    75%   {background-position: -186+3px -2px;}
    87.5% {background-position: -2+3px   -2px;}
    100%  {background-position: -554+3px -2px;}
  }
  @keyframes eat-pet-3-3 {
    0%    {background-position: -806+3px -2px;}
    12.5% {background-position: -1610+3px -2px;}
    25%   {background-position: -1342+3px -2px;}
    37.5% {background-position: -1074+3px -2px;}
    50%   {background-position: -2+3px -253px;}
    62.5% {background-position: -538+3px -2px;}
    75%   {background-position: -270+3px -2px;}
    87.5% {background-position: -2+3px   -2px;}
    100%  {background-position: -806+3px -2px;}
  }
  @keyframes eat-pet-3-4 {

    0%    {background-position: -866px -2px;}
    12.5% {background-position: -1730px -2px;}
    25%   {background-position: -1442px -2px;}
    37.5% {background-position: -1154px -2px;}
    50%   {background-position: -2px -361px;}
    62.5% {background-position: -578px -2px;}
    75%   {background-position: -290px -2px;}
    87.5% {background-position: -2px   -2px;}
    100%  {background-position: -866px -2px;}

  }

  @keyframes eat-pet-2-1 {
    0%    {background-position: -497+7px -2px;}
    12.5% {background-position: -992+7px -2px;}
    25%   {background-position: -827+7px -2px;}
    37.5% {background-position: -662+7px -2px;}
    50%   {background-position: -1157+7px -2px;}
    62.5% {background-position: -332+7px -2px;}
    75%   {background-position: -167+7px -2px;}
    87.5% {background-position: 5px   -2px;}
    100%  {background-position: -497+7px -2px;}
  }
  @keyframes eat-pet-2-2 {
    0%    {background-position: -512+6px -2px;}
    12.5% {background-position: -1022+6px -2px;}
    25%   {background-position: -852+6px -2px;}
    37.5% {background-position: -682+6px -2px;}
    50%   {background-position: -1192+6px -2px;}
    62.5% {background-position: -342+6px -2px;}
    75%   {background-position: -172+6px -2px;}
    87.5% {background-position: -2+6px   -2px;}
    100%  {background-position: -512+6px -2px;}
  }
  @keyframes eat-pet-2-3 {
    0%    {background-position: -800+3px -2px;}
    12.5% {background-position: -1598+3px -2px;}
    25%   {background-position: -1332+3px -2px;}
    37.5% {background-position: -1066+3px -2px;}
    50%   {background-position: -2+3px -214px;}
    62.5% {background-position: -534+3px -2px;}
    75%   {background-position: -268+3px -2px;}
    87.5% {background-position: -2+3px   -2px;}
    100%  {background-position: -800+3px -2px;}
  }
  @keyframes eat-pet-2-4{
    0%    {background-position: -1091px -2px;}
    12.5% {background-position: -365px -377px;}
    25%   {background-position: -2px -377px;}
    37.5% {background-position: -1454px -2px;}
    50%   {background-position: -728px -377px;}
    62.5% {background-position: -728px -2px;}
    75%   {background-position: -365px -2px;}
    87.5% {background-position: -2px   -2px;}
    100%  {background-position: -1091px -2px;}
  }

  @-webkit-keyframes eat-pet-1-1 {
    0%    {background-position: -422+9px -2px;}
    12.5% {background-position: -842+9px -2px;}
    25%   {background-position: -702+9px -2px;}
    37.5% {background-position: -562+9px -2px;}
    50%   {background-position: -982+9px -2px;}
    62.5% {background-position: -282+9px -2px;}
    75%   {background-position: -142+9px -2px;}
    87.5% {background-position: -2+9px   -2px;}
    100%  {background-position: -422+9px -2px;}
  }
  @-webkit-keyframes eat-pet-1-2 {
    0%    {background-position: -539+7px -2px;}
    12.5% {background-position: -897+7px -2px;}
    25%   {background-position: -718+7px -2px;}
    37.5% {background-position: -1076+7px -2px;}
    50%   {background-position: -360+7px -2px;}
    62.5% {background-position: -1076+7px -2px;}
    75%   {background-position: -181+7px -2px;}
    87.5% {background-position: -2+7px   -2px;}
    100%  {background-position: -539+7px -2px;}
  }
  @-webkit-keyframes eat-pet-1-3 {
    0%    {background-position: -1124+11px -2px;}
    12.5% {background-position: -376+11px -264px;}
    25%   {background-position: -2+11px -264px;}
    37.5% {background-position: -1498+11px -2px;}
    50%   {background-position: -750+11px -264px;}
    62.5% {background-position: -750+11px -2px;}
    75%   {background-position: -376+11px -2px;}
    87.5% {background-position: -2+11px   -2px;}
    100%  {background-position: -1124+11px -2px;}
  }
  @-webkit-keyframes eat-pet-1-4 {
    0%    {background-position: -1289px -2px;}
    12.5% {background-position: -860px -439px;}
    25%   {background-position: -431px -439px;}
    37.5% {background-position: -2px -439px;}
    50%   {background-position: -1289px -439px;}
    62.5% {background-position: -860px -2px;}
    75%   {background-position: -431px -2px;}
    87.5% {background-position: -2px   -2px;}
    100%  {background-position: -1289px -2px;}


  }

  @-webkit-keyframes eat-pet-3-1 {
    0%    {background-position: -551+9px -2px;}
    12.5% {background-position: -1100+9px -2px;}
    25%   {background-position: -917+9px -2px;}
    37.5% {background-position: -734+9px -2px;}
    50%   {background-position: -1283+9px -2px;}
    62.5% {background-position: -368+9px -2px;}
    75%   {background-position: -185+9px -2px;}
    87.5% {background-position: -2+9px   -2px;}
    100%  {background-position: -551+9px -2px;}
  }
  @-webkit-keyframes eat-pet-3-2 {
    0%    {background-position: -554+3px -2px;}
    12.5% {background-position: -1106+3px -2px;}
    25%   {background-position: -922+3px -2px;}
    37.5% {background-position: -738+3px -2px;}
    50%   {background-position: -1290+3px -2px;}
    62.5% {background-position: -370+3px -2px;}
    75%   {background-position: -186+3px -2px;}
    87.5% {background-position: -2+3px   -2px;}
    100%  {background-position: -554+3px -2px;}
  }
  @-webkit-keyframes eat-pet-3-3 {
    0%    {background-position: -806+3px -2px;}
    12.5% {background-position: -1610+3px -2px;}
    25%   {background-position: -1342+3px -2px;}
    37.5% {background-position: -1074+3px -2px;}
    50%   {background-position: -2+3px -253px;}
    62.5% {background-position: -538+3px -2px;}
    75%   {background-position: -270+3px -2px;}
    87.5% {background-position: -2+3px   -2px;}
    100%  {background-position: -806+3px -2px;}
  }
  @-webkit-keyframes eat-pet-3-4 {

    0%    {background-position: -866px -2px;}
    12.5% {background-position: -1730px -2px;}
    25%   {background-position: -1442px -2px;}
    37.5% {background-position: -1154px -2px;}
    50%   {background-position: -2px -361px;}
    62.5% {background-position: -578px -2px;}
    75%   {background-position: -290px -2px;}
    87.5% {background-position: -2px   -2px;}
    100%  {background-position: -866px -2px;}

  }

  @-webkit-keyframes eat-pet-2-1 {
    0%    {background-position: -497+7px -2px;}
    12.5% {background-position: -992+7px -2px;}
    25%   {background-position: -827+7px -2px;}
    37.5% {background-position: -662+7px -2px;}
    50%   {background-position: -1157+7px -2px;}
    62.5% {background-position: -332+7px -2px;}
    75%   {background-position: -167+7px -2px;}
    87.5% {background-position: 5px   -2px;}
    100%  {background-position: -497+7px -2px;}
  }
  @-webkit-keyframes eat-pet-2-2 {
    0%    {background-position: -512+6px -2px;}
    12.5% {background-position: -1022+6px -2px;}
    25%   {background-position: -852+6px -2px;}
    37.5% {background-position: -682+6px -2px;}
    50%   {background-position: -1192+6px -2px;}
    62.5% {background-position: -342+6px -2px;}
    75%   {background-position: -172+6px -2px;}
    87.5% {background-position: -2+6px   -2px;}
    100%  {background-position: -512+6px -2px;}
  }
  @-webkit-keyframes eat-pet-2-3 {
    0%    {background-position: -800+3px -2px;}
    12.5% {background-position: -1598+3px -2px;}
    25%   {background-position: -1332+3px -2px;}
    37.5% {background-position: -1066+3px -2px;}
    50%   {background-position: -2+3px -214px;}
    62.5% {background-position: -534+3px -2px;}
    75%   {background-position: -268+3px -2px;}
    87.5% {background-position: -2+3px   -2px;}
    100%  {background-position: -800+3px -2px;}
  }
  @-webkit-keyframes eat-pet-2-4{
    0%    {background-position: -1091px -2px;}
    12.5% {background-position: -365px -377px;}
    25%   {background-position: -2px -377px;}
    37.5% {background-position: -1454px -2px;}
    50%   {background-position: -728px -377px;}
    62.5% {background-position: -728px -2px;}
    75%   {background-position: -365px -2px;}
    87.5% {background-position: -2px   -2px;}
    100%  {background-position: -1091px -2px;}

  }
}

