.reward-add-page-backdrop {
  @media screen  and (max-width: 600px) {
    height: 100px;
  }
  @media screen  and (min-width: 601px) {
    height: 150px;

    .reward-add-title {
      padding-top: 35px !important;
      .add-share {
        img {
          width: 220px !important
        }
      }

      .add-shard-content {
        img {
          max-width: 420px !important;
        }
      }
    }

    .color-bar1 {
      top: 49% !important;
      left: 21% !important;
    }

    .color-bar3 {
      top: 82% !important;
      left: 13% !important;
    }

    .color-bar4 {
      top: 18% !important;
      left: 18% !important;
    }

    .color-bar5 {
      top: 63% !important;
      right: 23% !important;
    }

    .color-bar6 {
      top: 80% !important;
      left: 80% !important;
    }

    .color-bar7 {
      top: 56% !important;
      left: 5% !important;
    }
    
    .color-bar8 {
      right: 30% !important;;
    }

    .color-bar9 {
      left: 30% !important;;
    }
  }
  position: relative;
  width: 100%;
  background-image: radial-gradient(circle farthest-corner at 50% 50%, #E34F4F 5%, #784B87 100%, transparent 10%);
  overflow: hidden;

  .color-bar-con {
    width: 100%;
    height: 100%;
    position: absolute;
    .color-bar {
      background-size: 100% 100%;
      position: absolute;
      z-index: 102;
      width: 10px;
      height: 10px;
    }
    .color-bar1 {
      background: url('./../rewardAdd/images/color_bar1.png') 0 0 no-repeat;
      top: 29%;
      left: 9%;
    }
    .color-bar2 {
      background: url('./../rewardAdd/images/color_bar2.png') no-repeat;
      top: 14%;
      left: 85%;
    }
    .color-bar3 {
      background: url('./../rewardAdd/images/color_bar3.png') no-repeat;
      top: 12%;
      left: 4%;
    }
    .color-bar4 {
      background: url('./../rewardAdd/images/color_bar4.png') no-repeat;
      top: 5%;
      left: 8%;

    }
    .color-bar5 {
      background: url('./../rewardAdd/images/color_bar5.png') no-repeat;
      top: 22%;
      right: 4%;
    }
    .color-bar6 {
      background: url('./../rewardAdd/images/color_bar4.png') no-repeat;
      top: 10%;
      left: 90%;
    }
    .color-bar7 {
      background: url('./../rewardAdd/images/color_bar5.png') no-repeat;
      top: 26%;
      left: 2%;
    }
    .color-bar8 {
      width: 25px;
      right: 15%;
      top: 20px;
      position: absolute;
    }

    .color-bar9 {
      width: 25px;
      left: 15%;
      top: 20px;
      position: absolute;
    }
  }

  .reward-add-title {
    z-index: 101;
    width: 100%;
    text-align: center;
    height: 100%;
    padding-top: 25px;
    .add-share {
      img {
        width: 135px !important;
      }
    }

    .add-shard-content {
      img {

      }
    }
  }
}

