
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.f_red {
  color: red;
}

.select_input {
  text-align: center;
  height: 30px;
  width: 30px;
  line-height: 18px;
  color: #333;
  cursor: pointer;
  overflow: hidden;
  display: inline-block;
  border:1px solid black;
}

.select_input_hover {
  color: #f25000;
  /*height: 18px;*/
  line-height: 18px;
  overflow: hidden;
}

.select_menu_show {
  background: #ccc;
  height: 18px;
  line-height: 18px;
  padding: 5px;
  cursor: pointer;
}

.select_menu_link {
  background: #FFFFFF;
  border: #f25000 2px solid;
  width: 210px;
  display: none;
  z-index: 999;
}

.select_menu_hovers {
  display: block;
  position: absolute;
}

.select_menu_links {
  text-align: left;
}

.select_menu_links span {
  width: 59px;
  margin: 1px;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  text-align: center;
  background: #f6f6f6;
  display: inline-block;
}

.select_menu_links span:hover {
  color: #FFFFFF;
  background: #f25000;
}





