@charset "UTF-8";


@import "mixins/_mixins";
@import "include/_reset";

@import "components/_auto_box";
@import "components/_auto_list";
@import "components/_sub_header";
@import "components/_bar_footer";
@import "components/_image_type_question";
@import "components/_form";
@import "components/_tab_sub_bar";
@import "components/_add_clazz";
@import "components/_common_list";
@import "components/_ion_list";
@import "components/process_bar";
@import "components/date_time_picker";
@import "components/student_list";
@import "components/game_sty";
@import "components/_layout_box";
@import "components/game";
@import "components/_modal";
@import "components/set-edit-area";

@import "include/_bgcolor";
@import "include/_clazz";
@import "include/_send_class_pass_select";
@import "include/_send_class_pass_list";
@import "include/home";
@import "include/_search_form";
@import "include/_stu_list";
@import "include/_praise";
@import "include/_work_statistics";
@import "include/about";
@import "pages/feedback";


.input-area {
  display: inline-block !important;
}
.tab-item-active {
  color:#89B64B !important;
}
.bg-balanced{
  background: #5c6761 !important;
}
.bar-stable{
  background: #89B64B !important;
  color:white !important;
}
.bar-stable .header-item {
  color:white !important;
}

.button-balanced{
  background: #89B64B !important;
}

.defined_bg{  //登录前的颜色
  background:#8BC855 !important;
  color: #fff !important;
}

.defined_bg_tint{
  background:#ACD584 !important;
  color: #fff !important;
}

.bar.bar-balanced {
  background-color: #9ed170;
}