.work_praise_file{
    .checkbox input:after, .checkbox-icon:after {
        -webkit-transition: opacity 0.05s ease-in-out;
        transition: opacity 0.05s ease-in-out;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        position: absolute;
        top: 33%;
        left: 25%;
        display: table;
        width: 14px;
        height: 6px;
        border: 2px solid #fff;
        border-top: 0;
        border-right: 0;
        content: ' ';
        opacity: 0;
    }
    .praise-tip{
        padding: 10px;
        font-size: 17px;
        color: #4a6b9d;
    }
}