canvas-input {
  position: fixed;
  left: 50px;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.do_question_file .bar-header {
  z-index: 1500;
}
.do_question_file .bar-footer {
  display: flex;
  display: -webkit-flex;
  z-index: 1500;
}
.do_question_file .bar-footer .bar-item {
  flex: 1;
  -webkit-flex:1;
}