.oral-calculation-equation {
  padding: 5px 0 0 55px;
  color:#272a4c;
  font-size: 20px;
  display: flex;
  display: -webkit-flex;
  .title {
    width: 50px;
  }
  .content {
    flex: 1;
    -webkit-flex: 1;
    word-break: break-all;
  }
  .equation-item {
    display: inline-block;
  }
}

