.clazz_manage_class_detail {
  ion-item {
    text-align: left;
  }
  .bar-balanced {
    background: #6fa4d5 !important;
  }
  .has-tabs, .bar-footer.has-tabs {
    bottom: 0px;
  }
  .bar-better {
    background: #83DCF5 !important;
  }
  .bar-better h1 {
    font-family: 'Microsoft YaHei';
    color: #4a6b9d
  }
}