<div>
    <div class="item item-input block-input" >
        <i class="ion ion-locked" style="font-size: 20px;margin-right: 5px"></i>
        <input type="{{showPasswordFlag?'text':'password'}}"
               placeholder="{{passwordSetting_.placeholder}}"
               required=""
               name="{{passwordSetting_.name}}"
               maxlength="{{passwordSetting_.maxlength}}"
               ng-model="passwordSetting_.model[passwordSetting_.modelName]"
               ng-keydown="keyDown(passwordSetting_.model[passwordSetting_.modelName],$event)"
               />
        <i class="ion ion-eye" style="font-size: 20px;margin-right: 10px"
           ng-click="showPasswordFlag=!showPasswordFlag"></i>
    </div>
</div>

