@charset "UTF-8";
@import './../../../../t_boot/less/theme02/include/_mixins';

.register-success-new {
  ion-content {
    background-color: #CAF7ED;
  }
  @media screen and (min-width: 1024px) {
    h4 {
      font-size: 30px !important;
    }

    .t-wrap, .p-wrap {
      max-width: 700px !important;
      .show-title {
        font-size: 20px !important;
      }
      .num-text {
        font-size: 30px !important;
      }
    }

    .row-tip-wrap {
      font-size: 17px !important;
    }

    .detail-title {
      font-size: 20px !important;
    }

    .login-btn {
      max-width: 500px !important;
      font-size: 22px !important;
    }
  }
  h4 {
    text-align: center;
    font-size: 22px;
    color: #44AEEE;
    margin-top: 30px;
  }
  .t-wrap {
    width: 90%;
    background-color: white;
    margin: 20px auto;
    text-align: center;
    border-radius: 10px;
    padding: 10px 0px 30px 0px;
    max-width: 500px;
    .show-title {
      font-size: 16px;
      color: #44AEEE;
      padding: 0px 20px;
    }
    .num-text {
      font-size: 22px;
    }
    .row-margin {
      margin-top: 10px;
    }
    .row-tip-wrap {
      margin-top: 3px;
      font-size: 14px;
    }
  }
  .p-wrap {
    width: 90%;
    background-color: white;
    margin: 20px auto;
    text-align: center;
    border-radius: 10px;
    padding: 10px 0px 30px 0px;
    max-width: 500px;
    .show-title {
      font-size: 16px;
      color: #44AEEE;
      padding: 0px 20px;
    }
    .num-text {
      color: #5b5c77;
      font-size: 22px;
    }
    .row-margin {
      margin-top: 10px;
    }
    .detail-title {
      font-size: 16px;
      color: #44AEEE;
    }
  }
  .login-btn-wrap {
    text-align: center;
    margin-top: 30px;
    .login-btn {
      display: inline-block;
      color: white;
      padding: 15px 30px;
      border-radius: 30px;
      width: 70%;
      max-width: 300px;
      font-size: 16px;
      text-align: center;
    }
    .t-login-btn {
      background-color: #44AEEE;
    }
    .s-login-btn {
      background-color: #9F5CE9;
    }
  }
}
