@charset "UTF-8";

@import "./../include/_mixins";

.add_display{
  display: inline-block;
  text-align: center;
  color: #ffffff;
  width: 100%;
}
.add_span{
  display: inline-block;
  padding: 5px;
  width: 100%;
}
.noClick{
  color: #eee;
}