@charset "UTF-8";
@import "./../include/_mixins";

.student-toolbar{
  width: 100%;
  border-bottom: 1px solid #c0c0c0;
  padding: 10px;
  .student-button{
    background-color: #11c1f3;
    color: #fff;
    height: 25px;
    width: 40px;
    display: inline-block;
    text-align: center;
    line-height: 25px;
    border-radius: 4px;
    margin-right: 10px;
  }
}
.list-title{
  padding: 8px 30px 8px 30px;
  border-color: #ccc;
}

.clazz-list{
  padding: 8px 8px 8px 50px;
  border-color: #ddd;
}

.student-list{
  padding: 3px 3px 3px 10px;
  border-color: #d7ad97;
  .level-select{
    width: 80px;
    float: right;
    border-color: #d7ad97;
  }
}
.claz_student_list_file{
  .student-name-wrap{
    display: inline-block;
    width: 65%;
    .student-name-text{
      margin: 0;
      font-weight: bold;
    }
    .student-login-name-text{
      margin: -3px 0px 0px 0px;
    }
  }
  .select-level-wrap{
    display: inline-block;
    float: right;
    margin-top: 9px;
  }
}
