@charset "UTF-8";
@import "./../include/_mixins";

.work_generate_paper_file{
  .paper_generate_item{
    border: none;
    margin-top: 20px;

  }

  .criteria_list{
    padding: 8px;
    .item{
      border: none;
    }
    .item-content{
      border: 1px solid #ccc;
      line-height: 45px;
      border-radius: 10px;
      padding: 0 20px;
    }
  }

  .paper_name_input{
    border: 1px solid #ccc;
    padding-left: 5px;
    border-radius: 10px;
    margin: 0 20px;
    height: 45px;
    line-height: 45px;
  }
}
