<ion-view  hide-nav-bar="true" class = "xly_promote_home">
    <ion-header-bar align-title="center" class="bar-balanced">
        <div class="button back-button buttons  button-clear header-item" ng-click="back()">
            <i class="icon ion-ios-arrow-back"></i>
            &nbsp;&nbsp;</div>
        <h1 class="title">智算365VIP代理</h1>

    </ion-header-bar>
    <ion-content padding="true" class="has-header">
        <div class="display-flex com_justify_content_space com_flex-direction_column" style="height: 100%">
            <div class="promote_introduce">
                <p>这是智算365VIP代理权二维码，将此二维码分享到微信
                    ，客户扫码后，即可直达“超级学霸计划”页面，独享￥498特权。
                </p>
            </div>
            <div class="display-flex">
                <img ng-src="{{qrCodeImg}}" alt="">
            </div>
            <div class = "promote_btn">
                <div class = "btn wx-share-btn" ng-click="promoteToWeiXin()">
                    <img ng-src="{{$root.loadImg('wechat.ico')}}">
                    <span>分享到微信</span>
                    <i class="icon ion-chevron-right spaces"></i>
                </div>
                <div class = "btn order-list-btn" ng-click="gotoMyAssets()">
                    <span style="margin-left: 0;font-size: 14px;"> 查看客户购买详情 &nbsp;</span>
                    <i class="icon ion-chevron-right spaces"></i>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>