<ion-view hide-nav-bar="true" class="que-every-day-records">
    <ion-header-bar style="background-color: #ca75ea" align-title="center">
        <button class="button back-button buttons  button-clear header-item common-back-btn"
                ng-click="ctrl.back()"
                style="color: #ffffff;">
            <i class="icon ion-ios-arrow-back" style="color: #ffffff;"></i>
        </button>
        <h1 class="title"
            style="color:#ffffff;font-weight: bold;font-size: 20px;"
            ng-bind="'本题做题记录'">
        </h1>
    </ion-header-bar>

    <ion-content class="has-header has-subheader" overflow-scroll="true">
        <div  style="margin-bottom:140px">
            <div class="image-type-question">
                <div class="question-content card card-better small_q_bg">
                    <!--改错列-->
                    <div ng-repeat="(key,doneInfo) in ctrl.record.smallQStuAnsMapList" ng-init="doneIndex=$index;doneLast=$last"
                         ng-class="doneInfo.showQFlag?'open':''"  class="accordion">
                        <div class="smallq-title" ng-class="{'smallq-title-first':doneIndex==0,'smallq-title-more':doneIndex>=1}">
                            <div class="text-div-adapt" ng-click="doneInfo.showQFlag=!doneInfo.showQFlag">
                                <label class="text-adapt">
                                    <!-- <span ng-bind="'第'+(record.seqNum+1)+'题'" ng-class="{'done-more':doneIndex>=1}"></span>-->
                                    <span ng-if="doneIndex==0" ng-bind="'第'+(doneIndex+1)+'条'"></span>
                                    <span ng-if="doneIndex>=1" ng-bind="'第'+(doneIndex+1)+'条'"></span>
                                    <span  ng-bind="doneInfo.createTime"></span>
                                    <span class="correct-icons">
                                        <img ng-show="doneInfo.passFlag==0" ng-src="{{$root.loadImg('other/icon_no.png')}}">
                                        <img ng-show="doneInfo.passFlag==1" ng-src="{{$root.loadImg('other/icon_yes2.png')}}">
                                        <img ng-show="doneInfo.passFlag==2" ng-src="{{$root.loadImg('other/icon_yes3.png')}}">
                                        <img ng-show="doneInfo.passFlag==3" ng-src="{{$root.loadImg('other/grading-icon.png')}}">
                                    </span>
                                </label>
                                <div class="record-type"><span ng-bind="doneInfo.keyValuePairs.key==='1'?'( 该记录来自作业 )':'( 该记录来自单题 )'"></span></div>
                            </div>
                            <div class="img-align-right">
                                <span ng-click="doneInfo.showQFlag=!doneInfo.showQFlag">
                                    <img ng-src="{{$root.loadImg('diagnose/diagnose-open.png')}}" class="row-icon">
                                </span>
                            </div>
                        </div>

                        <div compile-html="ctrl.record.question" show-type="correct" current-q-input="doneInfo.inputList"
                             ng-if="doneInfo.showQFlag" class="qcontext">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>