<ion-view title="" align-title="center" hide-nav-bar="true">
    <div class="bar bar-header defined_bg">
        <button class="button back-button buttons  button-clear header-item" ng-click="ctrl.back()" style="color: #fff">
            <i class="icon ion-ios-arrow-back" style="color: #fff"></i>
            &nbsp;&nbsp;
        </button>
        <div class="title title-center header-item">重置密码申请</div>
    </div>

    <!--<sub-header  id="reset_pass_subheader">-->
        <!--<div class="subheader-item"-->
             <!--id="telReSet" ><span class="sub-title">手机重置</span></div>-->
        <!--<div class="subheader-item"-->
             <!--id="secReSet" ><span class="sub-title">密保重置</span></div>-->
    <!--</sub-header>-->

    <ion-content padding="true" class="has-header">
        <!--<ng-form name="CellPhoneConfirmForm"-->
                 <!--class="list"-->
                 <!--ng-show="subHeaderInfo.activeEle=='telReSet'&&pageStatus!=3"-->
                 <!--novalidate="novalidate">-->
            <!--<p class="row  img-validate-block">-->
                <!--该账号{{loginName}}所关联的手机号码为{{phone}},点击确定后,我们将发送短信验证码到该手机上！-->
            <!--</p>-->
            <!--<button class="button button-block defined_bg"-->
                    <!--type="submit"-->
                    <!--ng-click="submitCellPhoneConfirmForm()">-->
                <!--确定-->
            <!--</button>-->
        <!--</ng-form>-->
        <ng-form novalidate="novalidate"
                 name="resetPassByVCodeForm"
                 class="list" style="margin-top: 20px">
            <!--ng-show="subHeaderInfo.activeEle=='telReSet'&&pageStatus==3"-->
            <div class="item item-input block-input">
                <input type="password" placeholder="新密码" ng-model="ctrl.formData.newPass" name="newPass" required/>
            </div>
            <div class="item item-input block-input">
                <input type="password" placeholder="再次输入密码" ng-model="ctrl.formData.confirmPass" name="confirmPass" confirm-pass="ctrl.formData.newPass" required/>
            </div>

            <div style="padding-left: 10px;padding-top: 10px">短信验证码将发送到：<span ng-bind="ctrl.phone"></span></div>

            <div class="row  phone-validate-block">
                <div style="width: 65%">
                    <div class="item item-input" >
                        <input type="text"
                               placeholder="手机验证码"
                               name="telVC"
                               ng-model="ctrl.formData.telVC"
                               required/>
                    </div>
                </div>
                <div class="button button-positive" class="flex_1" style="margin-left: 5px"   ng-click="ctrl.getTelVCByLoginName()" ng-disabled="ctrl.telVcBtn">{{ctrl.telVcBtnText}}</div>
            </div>

            <p style="margin: 24px 0 1px 0"> 如果<span style="color:red;">长时间没有收到手机验证码短信</span>，请检查：</p>
            <p style="margin: 0 0 1px 0">1. 你的手机号码 {{ctrl.phone}} 是否正确</p>
            <p style="margin: 0 0 1px 0">2. 你的手机是否设置了拦截陌生短信功能</p>
            <p style="margin: 0 0 1px 0">还有可能是通信运营商的问题，请您多次尝试</p>
            <div class="button button-block  defined_bg"
                 type="submit" ng-click="ctrl.submitResetPassByVCodeForm(this.resetPassByVCodeForm)">
                重置
            </div>
        </ng-form>

        <!--<ng-form name="SecurityForm"-->
                 <!--ng-show="subHeaderInfo.activeEle=='secReSet'&&pageStatus!=5"-->
                 <!--novalidate="novalidate">-->
            <!--<div>如果您之前设置过密保问题，回答正确就可重置密码</div>-->

            <!--<div class="list" ng-repeat="item in qList" style="margin-bottom: 5px">-->
                <!--<div class="item item-input block-input" style="background-color: #6B94D6;color: #fff">-->
                    <!--<label >问题{{item.num}}:{{item.q}}?</label>-->
                <!--</div>-->
                <!--<div class="item item-input block-input">-->
                    <!--<input type="text" placeholder="答案"  name="{{item.ansName}}" id="{{item.ansName}}"  required>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash;<div class="row  img-validate-block">-->
                <!--<div class="item item-input">-->
                    <!--<input type="text"-->
                           <!--placeholder="图形验证码"-->
                           <!--name="vCode"-->
                           <!--ng-model="securityFormData.vCode"-->
                           <!--ng-blur="validateImageVCode(securityFormData.vCode)"-->
                           <!--required/>-->
                <!--</div>-->
                <!--<img ng-src="{{validateImageUrl2}}"/>-->
                <!--<i class="button defined_bg icon ion-refresh button-clear"-->
                   <!--ng-click="getValidateImage(2)">-->
                <!--</i>-->
            <!--</div>&ndash;&gt;-->
            <!--<button class="button button-block defined_bg"-->
                    <!--type="submit"-->
                    <!--ng-click="submitSecurityForm()">-->
                <!--提交-->
            <!--</button>-->
        <!--</ng-form>-->
        <!--<ng-form novalidate="novalidate" name="resetPassBySecurityForm" class="list" style="margin-top: 20px" ng-show="subHeaderInfo.activeEle=='secReSet'&&pageStatus==5">-->
            <!--<div class="item item-input block-input">-->
                <!--<input type="password" placeholder="新密码" ng-model="securityFormData.newPass" name="newPass" required/>-->
            <!--</div>-->
            <!--<div class="item item-input block-input">-->
                <!--<input type="password" placeholder="再次输入密码" ng-model="securityFormData.confirmPass" name="confirmPass" confirm-pass="securityFormData.newPass" required/>-->
            <!--</div>-->
            <!--<div class="button button-block  defined_bg"-->
                 <!--type="submit" ng-click="submitResetPassBySecurityForm()">-->
                <!--重置-->
            <!--</div>-->
        <!--</ng-form>-->
    </ion-content>
</ion-view>