@charset "UTF-8";

@import "./../include/_mixins";

.bar-footer {
  .reset-padding;
  .reset-margin;
  .display-flex;
  .bar-item {
    .flex_1;
    .com_align_item;
    .com_justify-content;
    .white-bold(150, 15px, white);
    i {
      font-size: 17px;
    }
  }
}

.bar-footer .button-clear {
  .flex_1;
  color: #ffffff;
  font-family: 'Microsoft Yahei';
  font-size: 14px;
  font-weight: 100;
  box-shadow: none;
  margin: 5px 5px;
  border-radius: 5px;
  padding: 0;
  border: none;
}