@import "./../include/common";
.subheader-flex {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;

  border-bottom: 1px solid #dddddd;
  padding: 0;
  display: -webkit-flex !important;
  -webkit-align-items: center !important;
  -webkit-justify-content: center !important;
}

.subheader-active {
  display: inline-block;
  border-radius: 15px;
  padding: 0px 12px;
  height: 30px;
  line-height: 30px;
  color: #ffffff !important;
  background: #6EAAE0;
  min-width: 80px;
}

.subheader-item {
  text-align: center;
  height: 100%;
  line-height: 44px;
  flex: 1 !important;
  -webkit-flex:1 !important;
  .sub-title{
    color: #4A3C37;
  }
}