@charset "UTF-8";
@import "./../include/_mixins";
.xdsoft_datetimepicker .xdsoft_timepicker {
  margin-left: 3px;
  width: 42px;
}

.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_prev,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_next {
  background-position: -40px -15px;
  margin-left: 6px;
}

.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_prev {
  background-position: -40px 0;
}