@charset "UTF-8";
.platform-android .checkbox-platform input:before,
.platform-android .checkbox-platform .checkbox-icon:before,
.checkbox-square input:before,
.checkbox-square .checkbox-icon:before{
  border-radius: 50%;
  width: 100%;
  height: 100%;
  margin-top: 0;
  margin-left: 0;
  border-width: 2px;
}