@main-color: #726c8c;//定义字体主色
.bar-new{
  background: #fff !important;
  border-bottom: 1px solid #dfdfdf !important;
  color: @main-color !important;
  .title{
    font-weight: bold;
    color: @main-color !important;
    line-height: 43px;
    left: 0 !important;
    right: 0 !important;
  }
  .item-back{
    .icon{
      padding-left: 10px;
      color: @main-color;
    }
    span{
      color: @main-color;
      padding-left: 6px;
      font-size: 16px;
      font-weight: normal;
    }
  }
  .item-score{
    background-color: transparent !important;
    color: @main-color;
    img{
      height: 21px;
      vertical-align: top;
      margin-top: 5px;
    }
    span{
      margin-left: 6px;
      color: @main-color !important;
    }
  }
}
.bg-new{
  background-color: #e8e8ee;
}