.share-title {
  text-align: left;
  font-size: 18px;
  color: #1E446A;
}

.share-content {
  font-size: 16px;
  //padding-left: 36px;
  color: #1E446A;
  text-align: left;
}

.share-qrcode {
  display: block;
  margin: auto;
}

.weChat-share-img {
  vertical-align: middle;
  width: 25px;
  margin-bottom: 4px;
  margin-right: 5px;
}
.reward-share-btn{

}

.friend-circle-share-img {
  vertical-align: middle;
  width: 25px;
  margin-bottom: 4px;
  margin-right: 5px;
  margin-left: 18px;
}
.sub-title-remind-parent{
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #1E446A;
  font-weight: 600;
  margin-top: 10px;
}
ion-content{
  overflow-scroll:true !important;
}
.selectable {
  border: solid 2px #646964;
  padding: 0px 5px;
  -webkit-user-select: auto !important;//控制网页内容选择范围,恢复选择功能
}
.qq-share-img {
  width: 29px;
  vertical-align: middle;
  margin-bottom: 3px;
  margin-left: -10px;
  margin-right: 3px;
}

.sub-title-remind-teacher{
  width: 100%;
  text-align: left;
  font-size: 16px;
  color: #1E446A;
}