
/**-----精灵动画start---- **/
.xiaogou-right-img{
  background: url('../../../../../modules/m_global/sImages/diagnose/diagnose-get-right.png') 0px 0px;
  width: 300px;
  height: 300px;
 @media screen and (min-width: 320px)  {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
  }
}

.xiaogou-wrong-img{
  background: url('../../../../../modules/m_global/sImages/diagnose/diagnose-get-wrong.png') 0px 0px;
  width: 300px;
  height: 300px;
  @media screen and (min-width: 320px)  {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
  }
}

.xiaogou-right-act{
  animation: xiaoGouRight 1800ms steps(1,start)  1 forwards  ;
  -webkit-animation: xiaoGouRight 1800ms steps(1,start) 1  forwards;
}

.xiaogou-wrong-act{
  animation: xiaoGouWrong 1800ms steps(1,start) 1 forwards;
  -webkit-animation: xiaoGouWrong 1800ms steps(1,start)  1 forwards;
}

@keyframes xiaoGouRight {
  0%{
    background-position: -310px 0px;
  }
  3%{
    background-position: -1240px 0px;
  }
  6%{
    background-position: 0px -280px;
  }
  9%{
    background-position: -310px -280px;
  }
  12%{
    background-position: -620px 0px;
  }
  15%{
    background-position: -620px -280px;
  }
  18%{
    background-position: 0px -560px;
  }
  21%{
    background-position: -310px -560px;
  }
  24%{
    background-position: -620px -560px;
  }
  27%{
    background-position: -930px 0px;
  }
  30%{
    background-position: -930px -280px;
  }
  33%{
    background-position: -930px -560px;
  }
  36%{
    background-position: 0px -840px;
  }
  39%{
    background-position: -310px -840px;
  }
  42%{
    background-position: -620px -840px;
  }
  45%{
    background-position: -930px -840px;
  }
  48%{
    background-position: 0px 0px;
  }
  51%{
    background-position: -1240px -280px;
  }
  54%{
    background-position: -1240px -560px;
  }
  57%{
    background-position: -1240px -840px;
  }
  60%{
    background-position: 0px -1120px;
  }
  63%{
    background-position: -310px -1120px;
  }
  66%{
    background-position: -620px -1120px;
  }
  69%{
    background-position: -930px -1120px;
  }
  72%{
    background-position: -1240px -1120px;
  }
  75%{
    background-position: -1550px 0px;
  }
  78%{
    background-position: -1550px -280px;
  }
  81%{
    background-position: -1550px -560px;
  }
  84%{
    background-position: -1550px -840px;
  }
  87%{
    background-position: -1550px -1120px;
  }
  91%{
    background-position: 0px -1400px;
  }
  95%{
    background-position: -310px -1400px;
  }
  100%{
    background-position: -620px -1400px;
  }



}

@-webkit-keyframes xiaoGouRight {
  0%{
    background-position: -310px 0px;
  }
  3%{
    background-position: -1240px 0px;
  }
  6%{
    background-position: 0px -280px;
  }
  9%{
    background-position: -310px -280px;
  }
  12%{
    background-position: -620px 0px;
  }
  15%{
    background-position: -620px -280px;
  }
  18%{
    background-position: 0px -560px;
  }
  21%{
    background-position: -310px -560px;
  }
  24%{
    background-position: -620px -560px;
  }
  27%{
    background-position: -930px 0px;
  }
  30%{
    background-position: -930px -280px;
  }
  33%{
    background-position: -930px -560px;
  }
  36%{
    background-position: 0px -840px;
  }
  39%{
    background-position: -310px -840px;
  }
  42%{
    background-position: -620px -840px;
  }
  45%{
    background-position: -930px -840px;
  }
  48%{
    background-position: 0px 0px;
  }
  51%{
    background-position: -1240px -280px;
  }
  54%{
    background-position: -1240px -560px;
  }
  57%{
    background-position: -1240px -840px;
  }
  60%{
    background-position: 0px -1120px;
  }
  63%{
    background-position: -310px -1120px;
  }
  66%{
    background-position: -620px -1120px;
  }
  69%{
    background-position: -930px -1120px;
  }
  72%{
    background-position: -1240px -1120px;
  }
  75%{
    background-position: -1550px 0px;
  }
  78%{
    background-position: -1550px -280px;
  }
  81%{
    background-position: -1550px -560px;
  }
  84%{
    background-position: -1550px -840px;
  }
  87%{
    background-position: -1550px -1120px;
  }
  91%{
    background-position: 0px -1400px;
  }
  95%{
    background-position: -310px -1400px;
  }
  100%{
    background-position: -620px -1400px;
  }



}

@keyframes xiaoGouWrong {
  0%{
    background-position: -310px 0px;
  }
  3%{
    background-position: -1240px 0px;
  }
  6%{
    background-position: 0px -280px;
  }
  9%{
    background-position: -310px -280px;
  }
  12%{
    background-position: -620px 0px;
  }
  15%{
    background-position: -620px -280px;
  }
  18%{
    background-position: 0px -560px;
  }
  21%{
    background-position: -310px -560px;
  }
  24%{
    background-position: -620px -560px;
  }
  27%{
    background-position: -930px 0px;
  }
  30%{
    background-position: -930px -280px;
  }
  33%{
    background-position: -930px -560px;
  }
  36%{
    background-position: 0px -840px;
  }
  39%{
    background-position: -310px -840px;
  }
  42%{
    background-position: -620px -840px;
  }
  45%{
    background-position: -930px -840px;
  }
  48%{
    background-position: 0px 0px;
  }
  51%{
    background-position: -1240px -280px;
  }
  54%{
    background-position: -1240px -560px;
  }
  57%{
    background-position: -1240px -840px;
  }
  60%{
    background-position: 0px -1120px;
  }
  63%{
    background-position: -310px -1120px;
  }
  66%{
    background-position: -620px -1120px;
  }
  69%{
    background-position: -930px -1120px;
  }
  72%{
    background-position: -1240px -1120px;
  }
  75%{
    background-position: -1550px 0px;
  }
  78%{
    background-position: -1550px -280px;
  }
  81%{
    background-position: -1550px -560px;
  }
  84%{
    background-position: -1550px -840px;
  }
  87%{
    background-position: -1550px -1120px;
  }
  91%{
    background-position: 0px -1400px;
  }
  95%{
    background-position: -310px -1400px;
  }
  100%{
    background-position: -620px -1400px;
  }
}

@-webkit-keyframes xiaoGouWrong{
  0%{
    background-position: -310px 0px;
  }
  3%{
    background-position: -1240px 0px;
  }
  6%{
    background-position: 0px -280px;
  }
  9%{
    background-position: -310px -280px;
  }
  12%{
    background-position: -620px 0px;
  }
  15%{
    background-position: -620px -280px;
  }
  18%{
    background-position: 0px -560px;
  }
  21%{
    background-position: -310px -560px;
  }
  24%{
    background-position: -620px -560px;
  }
  27%{
    background-position: -930px 0px;
  }
  30%{
    background-position: -930px -280px;
  }
  33%{
    background-position: -930px -560px;
  }
  36%{
    background-position: 0px -840px;
  }
  39%{
    background-position: -310px -840px;
  }
  42%{
    background-position: -620px -840px;
  }
  45%{
    background-position: -930px -840px;
  }
  48%{
    background-position: 0px 0px;
  }
  51%{
    background-position: -1240px -280px;
  }
  54%{
    background-position: -1240px -560px;
  }
  57%{
    background-position: -1240px -840px;
  }
  60%{
    background-position: 0px -1120px;
  }
  63%{
    background-position: -310px -1120px;
  }
  66%{
    background-position: -620px -1120px;
  }
  69%{
    background-position: -930px -1120px;
  }
  72%{
    background-position: -1240px -1120px;
  }
  75%{
    background-position: -1550px 0px;
  }
  78%{
    background-position: -1550px -280px;
  }
  81%{
    background-position: -1550px -560px;
  }
  84%{
    background-position: -1550px -840px;
  }
  87%{
    background-position: -1550px -1120px;
  }
  91%{
    background-position: 0px -1400px;
  }
  95%{
    background-position: -310px -1400px;
  }
  100%{
    background-position: -620px -1400px;
  }
}

@keyframes xiaoGouWord {
  0%{
    background-position: -310px 0px;
  }
  5%{
    background-position: -1240px 0px;
  }
  10%{
    background-position: 0px -280px;
  }
  15%{
    background-position: -310px -280px;
  }
  20%{
    background-position: -620px 0px;
  }
  25%{
    background-position: -620px -280px;
  }
  30%{
    background-position: 0px -560px;
  }
  35%{
    background-position: -310px -560px;
  }
  40%{
    background-position: -620px -560px;
  }
  45%{
    background-position: -930px 0px;
  }
  50%{
    background-position: -930px -280px;
  }
  55%{
    background-position: -930px -560px;
  }
  65%{
    background-position: 0px -840px;
  }
  70%{
    background-position: -310px -840px;
  }
  75%{
    background-position: -620px -840px;
  }
  80%{
    background-position: -930px -840px;
  }
  84%{
    background-position: 0px 0px;
  }
  88%{
    background-position: -1240px -280px;
  }
  91%{
    background-position: -1240px -560px;
  }
  96%{
    background-position: -1240px -840px;
  }
  100%{
    background-position: 0px -1120px;
  }
}

@-webkit-keyframes xiaoGouWord {
  0%{
    background-position: -310px 0px;
  }
  5%{
    background-position: -1240px 0px;
  }
  10%{
    background-position: 0px -280px;
  }
  15%{
    background-position: -310px -280px;
  }
  20%{
    background-position: -620px 0px;
  }
  25%{
    background-position: -620px -280px;
  }
  30%{
    background-position: 0px -560px;
  }
  35%{
    background-position: -310px -560px;
  }
  40%{
    background-position: -620px -560px;
  }
  45%{
    background-position: -930px 0px;
  }
  50%{
    background-position: -930px -280px;
  }
  55%{
    background-position: -930px -560px;
  }
  65%{
    background-position: 0px -840px;
  }
  70%{
    background-position: -310px -840px;
  }
  75%{
    background-position: -620px -840px;
  }
  80%{
    background-position: -930px -840px;
  }
  84%{
    background-position: 0px 0px;
  }
  88%{
    background-position: -1240px -280px;
  }
  91%{
    background-position: -1240px -560px;
  }
  96%{
    background-position: -1240px -840px;
  }
  100%{
    background-position: 0px -1120px;
  }

}


/**-----精灵动画end----   **/

.diagnose-popup-fade.ng-enter {
  transition:0.5s linear all;
  -webkit-transition:0.5s linear all;
  opacity:0;
}
.diagnose-popup-fade.ng-enter.ng-enter-active {
  opacity:1;
}
.diagnose-popup-fade.ng-leave {
  transition:0.5s linear all;
  -webkit-transition:0.5s linear all;
  opacity:1;
}
.diagnose-popup-fade.ng-leave.ng-leave-active {
   opacity:0;
}


.diagnose-popup-bounce.ng-enter {
  /*transition:0.5s linear all;
  opacity:0;*/
  animation: bounceIn 1s linear;
  -webkit-animation: bounceIn 1s linear;
}
.diagnose-popup-bounce.ng-enter.ng-enter-active {
  /*opacity:1;*/
}
.diagnose-popup-bounce.ng-leave {
  animation: bounceOut 1s linear;
  -webkit-animation: bounceOut 1s linear;
}
.diagnose-popup-bounce.ng-leave.ng-leave-active {
  /* opacity:0;*/
}