.wxPayProtocolStyle {
  .myHeader {
    background: #FC6F56 !important;

    .title ,.button i{
      color:#fff !important;
    }
  }

  h5 {
    text-align: center;
  }
  .protocolText {
    width: 90%;
    height: 100%;
    margin-left: 5%;
    .clauseTitle{
      font-size: 14px;
    }
    .clause{
      font-size: 13px;
    }
  }
}