.canvas-example {
  .display_flex_line (@direction) {
    display: flex;
    display: -webkit-flex;
    flex-direction: @direction;
    -webkit-flex-direction: @direction;
  }
  .display-arrange(@arrange) {
    justify-content: @arrange;
    -webkit-justify-content: @arrange;
  }

}

