.equation-input-span {
  display: inline-block;
  min-width: 60px;
  min-height: 30px;
  text-align: center;
  //background-color:white;
  margin: 2px;
  vertical-align: middle;
  overflow: hidden;
  line-height: 30px;
  border-bottom: 1px solid #498EED;
  //border-radius: 5px;
}