.stu-pass-levels{
  .mhelp{
    background-color: transparent;
  }
  .title{
    color: rgb(75, 97, 180);
  }
  .back-icon{
    color: #4a6b9d;
    font-size: 32px;
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
  }
  ul{

  }
  li{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    height: 35px;
    line-height: 35px;
    margin-bottom: 8px;
  }

  li.pass{
    background: url('./../../../images/passLevelBg.png') no-repeat;
    background-size: 100% 100%;
    background-position: center;
    color: #2f463e;
  }
  li.notPass{
    background-color: #ced9e1;
    background-size: 100% 100%;
    background-position: center;
    color: #798995;
  }
}
