<!--<div class="dragarea" ng-if="!$root.platform.IS_ANDROID&&!$root.platform.IS_IPHONE&&!$root.platform.IS_IPAD">-->
    <!--点此拖动-->
<!--</div>-->


<div class="switcher" >
    <div class="left-div-box"
         ng-if="!keyboardStatus.showSelectInputItem
            && keyboardStatus.currentTopPanel!=TOP_PANEL_LIST.VERTICAL
            && keyboardStatus.currentTopPanel!=TOP_PANEL_LIST.VERTICAL_CARRY"
    >
         <span ng-class="keyboardStatus.currentTopPanel==TOP_PANEL_LIST.COMMON?'switcherItem active':'switcherItem'"
               ng-click="setCurrentTopPanel(TOP_PANEL_LIST.COMMON,$event)"
               ng-show="!keyboardStatus.isCommentBox">常用</span>

        <span ng-class="keyboardStatus.currentTopPanel==TOP_PANEL_LIST.MARK?'switcherItem active':'switcherItem'"
              ng-click="setCurrentTopPanel(TOP_PANEL_LIST.MARK,$event)"
              ng-show="!keyboardStatus.isCommentBox">更多</span>
        <span ng-class="keyboardStatus.currentTopPanel==TOP_PANEL_LIST.UNIT?'switcherItem active':'switcherItem'"
              ng-click="setCurrentTopPanel(TOP_PANEL_LIST.UNIT,$event)"
              ng-show="!keyboardStatus.isCommentBox">单位</span>
         <span ng-class="keyboardStatus.currentTopPanel==TOP_PANEL_LIST.WORD?'switcherItem active':'switcherItem'"
               ng-click="setCurrentTopPanel(TOP_PANEL_LIST.WORD,$event)"
               ng-show="pureWordsList.length" style="color:#ff952b;font-size: 16px;">文字<span style="color: #ffff55;font-size: 14px;">（请不要用文字列等式）</span></span>
        <span ng-class="keyboardStatus.currentTopPanel==TOP_PANEL_LIST.CHARACTER?'switcherItem active':'switcherItem'"
              ng-click="setCurrentTopPanel(TOP_PANEL_LIST.CHARACTER,$event)"
              ng-show="keyboardStatus.isCharacterBox">字母</span>
       <!--  <span ng-class="keyboardStatus.currentTopPanel==TOP_PANEL_LIST.VERTICAL?'switcherItem active':'switcherItem'"
               ng-click="setCurrentTopPanel(TOP_PANEL_LIST.VERTICAL,$event)">竖式</span>-->
    </div>

    <div  class="right-div-box" ng-click="hide($event)">
        <span class="tool-bar-item flex-2" >
            <i class="icon ion-chevron-down"></i>
        </span>
    </div>


</div>
<!--选择型输入框的选择区域 start-->
<div class="keyboardContent" ng-if="keyboardStatus.showSelectInputItem" keyboard-select>
    <div class="keyboardUnit">
        <div class="left">
            <div class="itemRow" ng-repeat="itemRow in keyboardStatus.selectInputDataList">
                <div class="item" ng-click="handleClickNum($event)" ng-repeat="item in itemRow" value="{{item}}">
                    <span mathjax-parser value="{{item}}"></span>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="item greenItem" style="flex:1;-webkit-flex:1" ng-click="handleDel($event)">
                <img src="images/del.png" width="35px" alt=""/>
            </div>
        </div>
    </div>
</div>
<!--选择型输入框的选择区域 end-->

<div class="keyboardContent" ng-if="!keyboardStatus.showSelectInputItem">
    {{currentTopPanel}}
    <div class="keyboardCommon"
         keyboard-common
         ng-show="keyboardStatus.currentTopPanel==TOP_PANEL_LIST.COMMON"></div>
    <div class="keyboardMark"
         keyboard-mark
         ng-show="keyboardStatus.currentTopPanel==TOP_PANEL_LIST.MARK">
    </div>
    <div class="keyboardCharacter"
         keyboard-character
         ng-show="keyboardStatus.currentTopPanel==TOP_PANEL_LIST.CHARACTER">
    </div>
    <div class="keyboardUnit"
         keyboard-unit
         ng-show="keyboardStatus.currentTopPanel==TOP_PANEL_LIST.UNIT">
    </div>
    <div class="keyboardWord"
         keyboard-word
         ng-show="keyboardStatus.currentTopPanel==TOP_PANEL_LIST.WORD">
    </div>
    <div class="keyboardCommon keyboardVertical"
         keyboard-vertical
         ng-show="keyboardStatus.currentTopPanel==TOP_PANEL_LIST.VERTICAL">
    </div>
    <div class="keyboardCommon keyboardVerticalCarry"
         keyboard-vertical-carry
         ng-show="keyboardStatus.currentTopPanel==TOP_PANEL_LIST.VERTICAL_CARRY">
    </div>
</div>
<div class="switcher tool-bar" >
    <span ng-if="doCtrl.currentSmallQ" class="tool-bar-item flex-4"
          ng-click="doCtrl.currentSmallQ.isFirstOfAllQ?'':doCtrl.previousQuestion()"
          ng-class="doCtrl.currentSmallQ.isFirstOfAllQ?'un-click':''">
        <i class="icon ion-arrow-left-b" style="font-size: 25px;"></i>&nbsp;
         <span ng-bind="doCtrl.redoFlag == 'false'?'上一题':'上一错题'" style="font-size: 17px;"></span>
    </span>
    <span ng-if="doCtrl.currentSmallQ" class="tool-bar-item flex-4"
          ng-click="doCtrl.currentSmallQ.isLastOfAllQ?doCtrl.back(true):doCtrl.goNextQuestion()">
        <!--  ng-class="doCtrl.currentSmallQ.isLastOfAllQ?'un-click':''"-->
        <span ng-if="!doCtrl.currentSmallQ.isLastOfAllQ" ng-bind="doCtrl.redoFlag == 'false'?'下一题':'下一错题'" style="font-size: 17px;"></span>
        <span ng-if="doCtrl.currentSmallQ.isLastOfAllQ" ng-bind="'总览.提交'" style="font-size: 17px;"></span>
        &nbsp;<i  class="icon ion-arrow-right-b" style="font-size: 25px;"></i>
    </span>

    <!-- 诊断页面做题-->
     <span class="tool-bar-item flex-4"  ng-if="!doQCtrl.noQuestionTip&&doQCtrl.questionInfo.question"
           ng-click="doQCtrl.submitQ()"
     >
        <i class="icon ion-paper-airplane" style="font-size: 25px;"></i>&nbsp;&nbsp;
         <span ng-bind="doQCtrl.diagnose_submit_q_processing?'提交中...':'提交'" style="font-size: 17px;"></span>
    </span>


</div>