<div class="left">
    <div class="itemRow">
        <div class="item num" ng-click="handleClickNum($event)" value="\vfcarry1">1</div>
        <div class="item num" ng-click="handleClickNum($event)" value="\vfcarry2">2</div>
        <div class="item num" ng-click="handleClickNum($event)" value="\vfcarry3">3</div>
    </div>
    <div class="itemRow">
        <div class="item num" ng-click="handleClickNum($event)" value="\vfcarry4">4</div>
        <div class="item num" ng-click="handleClickNum($event)" value="\vfcarry5">5</div>
        <div class="item num" ng-click="handleClickNum($event)" value="\vfcarry6">6</div>
    </div>
    <div class="itemRow">
        <div class="item num" ng-click="handleClickNum($event)" value="\vfcarry7">7</div>
        <div class="item num" ng-click="handleClickNum($event)" value="\vfcarry8">8</div>
    </div>
    <!--<div class="itemRow">
        <div class="item kbd-img-carry" ng-show="keyboardStatus.vfCarry" ng-click="handleClickNum($event)" value="\vfcarry">
            &lt;!&ndash;添加进位1&ndash;&gt;
            <img ng-src="{{imgCarry}}" width="150%" alt=""/>
        </div>
        <div class="item kbd-img-carry" ng-show="keyboardStatus.vfCarry2" ng-click="handleClickNum($event)" value="\vfcarry2">
            &lt;!&ndash;添加进位2&ndash;&gt;
            <img ng-src="{{imgCarry2}}" width="150%" alt=""/>
        </div>
        <div class="item kbd-img-carry" ng-show="keyboardStatus.vfCarry3" ng-click="handleClickNum($event)" value="\vfcarry3">
            &lt;!&ndash;添加进位3&ndash;&gt;
            <img ng-src="{{imgCarry3}}" width="150%" alt=""/>
        </div>
    </div>
    <div class="itemRow">
        <div class="item kbd-img-carry" ng-show="keyboardStatus.vfCarry4" ng-click="handleClickNum($event)" value="\vfcarry4">
            &lt;!&ndash;添加进位4&ndash;&gt;
            <img ng-src="{{imgCarry4}}" width="150%" alt=""/>
        </div>
        <div class="item kbd-img-carry" ng-show="keyboardStatus.vfCarry5" ng-click="handleClickNum($event)" value="\vfcarry5">
            &lt;!&ndash;添加进位5&ndash;&gt;
            <img ng-src="{{imgCarry5}}" width="150%" alt=""/>
        </div>
        <div class="item kbd-img-carry" ng-show="keyboardStatus.vfCarry6" ng-click="handleClickNum($event)" value="\vfcarry6">
            &lt;!&ndash;添加进位6&ndash;&gt;
            <img ng-src="{{imgCarry6}}" width="150%" alt=""/>
        </div>
    </div>
    <div class="itemRow">
        <div class="item kbd-img-carry" ng-show="keyboardStatus.vfCarry7" ng-click="handleClickNum($event)" value="\vfcarry7">
            &lt;!&ndash;添加进位7&ndash;&gt;
            <img ng-src="{{imgCarry7}}" width="150%" alt=""/>
        </div>
        <div class="item kbd-img-carry" ng-show="keyboardStatus.vfCarry8" ng-click="handleClickNum($event)" value="\vfcarry8">
            &lt;!&ndash;添加进位8&ndash;&gt;
            <img ng-src="{{imgCarry8}}" width="150%" alt=""/>
        </div>
    </div>-->
</div>
