<!--<div class="dragarea" ng-if="!$root.platform.IS_ANDROID&&!$root.platform.IS_IPHONE&&!$root.platform.IS_IPAD">-->
    <!--点此拖动-->
<!--</div>-->


<div class="switcher" >
    <div class="left-div-box" ng-if="!keyboardStatus.showSelectInputItem">
         <span ng-class="keyboardStatus.currentTopPanel==TOP_PANEL_LIST.COMMON?'switcherItem active':'switcherItem'"
               ng-click="setCurrentTopPanel(TOP_PANEL_LIST.COMMON,$event)"
               ng-show="!keyboardStatus.isCommentBox">常用</span>

        <span ng-class="keyboardStatus.currentTopPanel==TOP_PANEL_LIST.MARK?'switcherItem active':'switcherItem'"
              ng-click="setCurrentTopPanel(TOP_PANEL_LIST.MARK,$event)"
              ng-show="!keyboardStatus.isCommentBox">更多</span>
        <span ng-class="keyboardStatus.currentTopPanel==TOP_PANEL_LIST.UNIT?'switcherItem active':'switcherItem'"
              ng-click="setCurrentTopPanel(TOP_PANEL_LIST.UNIT,$event)"
              ng-show="!keyboardStatus.isCommentBox">单位</span>
         <span ng-class="keyboardStatus.currentTopPanel==TOP_PANEL_LIST.WORD?'switcherItem active':'switcherItem'"
               ng-click="setCurrentTopPanel(TOP_PANEL_LIST.WORD,$event)"
               ng-show="pureWordsList.length" style="color:#ff952b;font-size: 16px;">文字<span style="color: #ffff55;font-size: 14px;">（请不要用文字列等式）</span></span>
        <span ng-class="keyboardStatus.currentTopPanel==TOP_PANEL_LIST.CHARACTER?'switcherItem active':'switcherItem'"
              ng-click="setCurrentTopPanel(TOP_PANEL_LIST.CHARACTER,$event)"
              ng-show="keyboardStatus.isCharacterBox">字母</span>
    </div>

    <div  class="right-div-box" ng-click="hide()">
        <span class="tool-bar-item flex-2" >
            <i class="icon ion-chevron-down"></i>
        </span>
    </div>


</div>
<!--选择型输入框的选择区域 start-->
<div class="keyboardContent" ng-if="keyboardStatus.showSelectInputItem" keyboard-select>
    <div class="keyboardUnit">
        <div class="left">
            <div class="itemRow" ng-repeat="itemRow in keyboardStatus.selectInputDataList">
                <div class="item" ng-click="handleClickNum($event)" ng-repeat="item in itemRow" value="{{item}}">
                    <span mathjax-parser value="{{item}}"></span>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="item greenItem" style="flex:1;-webkit-flex:1" ng-click="handleDel($event)">
                <img src="images/del.png" width="35px" alt=""/>
            </div>
        </div>
    </div>
</div>
<!--选择型输入框的选择区域 end-->

<div class="keyboardContent" ng-if="!keyboardStatus.showSelectInputItem">
    {{currentTopPanel}}
    <div class="keyboardCommon"
         keyboard-common
         ng-show="keyboardStatus.currentTopPanel==TOP_PANEL_LIST.COMMON"></div>
    <div class="keyboardMark"
         keyboard-mark
         ng-show="keyboardStatus.currentTopPanel==TOP_PANEL_LIST.MARK">
    </div>
    <div class="keyboardCharacter"
         keyboard-character
         ng-show="keyboardStatus.currentTopPanel==TOP_PANEL_LIST.CHARACTER">
    </div>
    <div class="keyboardUnit"
         keyboard-unit
         ng-show="keyboardStatus.currentTopPanel==TOP_PANEL_LIST.UNIT">
    </div>
    <div class="keyboardWord"
         keyboard-word
         ng-if="keyboardStatus.currentTopPanel==TOP_PANEL_LIST.WORD">
    </div>
</div>
<div class="switcher tool-bar" >
    <span ng-if="currentSmallQ" class="tool-bar-item flex-4"
          ng-click="currentSmallQ.isFirst?'':previousQuestion()"
          ng-class="currentSmallQ.isFirst?'un-click':''">
        <i class="icon ion-arrow-left-b"></i>&nbsp;{{data.redo?'上一错题':'上一题'}}
    </span>
    <span ng-if="currentSmallQ" class="tool-bar-item flex-4"
          ng-click="currentSmallQ.isLast?'':goNextQuestion()"
          ng-class="currentSmallQ.isLast?'un-click':''"
    >
        {{data.redo?'下一错题':'下一题'}}&nbsp;<i  class="icon ion-arrow-right-b"></i>
    </span>


</div>