@charset "UTF-8";
@import "./../include/_mixins";

.register-title{
  text-align: center;
  font-size: 18px;
}

.center-tip-box{
  .display-flex;
  .com_align_item;
  .com_justify-content;
  .tip-box{
    min-width: 250px;
    max-width: 500px;
    width: 80%;
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    .tip{
      padding-bottom: 15px;
      .tip-title{
        padding-top: 10px;
        font-size: 18px;
        font-weight: 400;
      }
      .tips{
        font-size: 15px;
      }
    }

  }
  .text-align-left{
    text-align: left;
  }
  button{
    width: 120px;
    background: #71a6ee;
    color: #ffffff;
  }
}

