@charset "UTF-8";

@import "./../include/_mixins";

body {
  font-family: "Microsoft YaHei" !important;
}

.bar-positive {
  font-family: "Microsoft YaHei";
}

.row {
.reset-padding;
}

.button {
  border: none;
  box-shadow: 0 0 0 0;
  border-radius: 0;
  margin-right: 5px;
}