@import "../include/_mixins";


.about_file{
  /*.bar-balanced{
    background: #6fa4d5!important;
  }
  .has-tabs, .bar-footer.has-tabs {
    bottom: 0px;
  }
  .bar-better{
    background: #83DCF5!important;
    h1{
      font-family: 'Microsoft YaHei';color: #4a6b9d
    }
  }*/
  ion-content{
    background-color: #ffffff;
  }
  .main-content{
    padding: 30px 0px 10px 0px;
    text-align: center;
    background-color: #EBECF1;
    img{
      width: 100px;
    }
    h4{
      font-weight: 400;
      color: #1E446A;
    }
    p{
      font-size: 16px;
    }
    /*border: 1px solid red;
    .flex_1;*/
  }
  p{
    color: #1E446A;
    margin: 0px 0px 5px 0px;
    @media all and (min-width: 760px) {
      h4{
        font-size: 20px!important;
      }
      p{
        font-size: 18px!important;
      }
    }
  }
  .qr-code-wrap{
    padding: 20px 0px;
    text-align: center;
    .qr-code{
      width: 70%;
      max-width: 315px;
    }
  }
  .foot-wrap{
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
    text-align: center;
  }
}




