@charset "UTF-8";
@import "./../include/_mixins";
@import "./../include/common";

.child_index_file {
  .item{
    border: none!important;
  }
  .item-avatar {
    padding-bottom: 10px;
    padding-top: 16px;
  }
  .card-title{
    color: #293d69;
    background: #accbf9;
    min-height: 30px;
    font-weight: 500;
    p,h2{
      color: #293d69;
    }
  }
  .card-body{
    color: #615D53;
    background: #fefaf1;
  }
  .ion-chevron-right {
    color: #938A8A;
    font-size: 16px;
  }
  .item-adapt{
    line-height: 44px
  }

  .add-class-wrap{
    background-color: #8CA5EC;
    color: white;
    text-align: center;
    height: 40px;
    line-height: 40px;
    margin-top: 0px;
    .add-class-icon{
      font-size: 25px;
    }
    .add-class-text{
      font-size: 16px;
      vertical-align: super;
      margin-left: 6px;
    }
  }
  .list{
    margin-bottom: 0px!important;
     padding-top: 0px!important;
  }
  .card .item:first-child, .list-inset .item:first-child, .padding > .list .item:first-child {
     border-top-left-radius: 0px;
     border-top-right-radius: 0px;
  }
  .card .item:last-child, .list-inset .item:last-child, .padding > .list .item:last-child {
     border-bottom-right-radius: 0px;
     border-bottom-left-radius: 0px;
  }
  .delete-class-wrap{
    text-align: center;
    .delete-class{
      color: #615D53
    }
  }
  .even-bg{
    background: #FDF8EE !important;
  }

  .odd-bg{
    background: #FFFFFF
  };
  .nav-clazz-info-icon{

    padding: 5px 10px;
    position: absolute;
    top: 55px;
    right: 45px;
    border-radius: 50%;
    background-color: #bcfcf8;
    color: #f36c2a;
    line-height: 17px;
    text-align: center;
    font-size: 14px;
  }
}



