@charset "UTF-8";
@import "./../include/_mixins";
@import "./../include/common";

.child_class_list_file {
  .item-avatar {
    padding-bottom: 10px;
    padding-top: 16px;
  }
  .card-title{
    color: #293d69;
    background: #accbf9;
    min-height: 30px;
    font-weight: 500;
    p,h2{
      color: #293d69;
    }
  }
  .card-body{
    color: #615D53;
    background: #fefaf1;
  }
  .ion-chevron-right {
    color: #938A8A;
    font-size: 16px;
  }
  .item-adapt{
    line-height: 44px
  }
}



