@charset "UTF-8";
@import "./../include/_mixins";
@import "./../include/common";

.child_class_detail_file {
  .card-title{
    color: #293d69;
    background: #accbf9;
    min-height: 30px;
    font-weight: 500;
    p,h2{
      color: #293d69;
    }
  }
  .card-body{
    color: #615D53;
    background: #fefaf1;
  }
  .item{
    border: none;
  }

  .item-even{
    background: #FDF8EE;
  }
  .ccd_footer_title{
    display: flex;
    display: -webkit-flex;
    justify-content:center;
    -webkit-justify-content:center;
  }
}



