@charset "UTF-8";
@import "./../include/_mixins";
@import "./../include/common";

.edit_child_file {
  .card .item:last-child, .list-inset .item:last-child, .padding > .list .item:last-child {
    border-radius: 10px;
  }
  .card .item:first-child, .list-inset .item:first-child, .padding > .list .item:first-child {
    border-radius: 10px;
  }
  .card .item, .list-inset .item, .padding > .list .item, .padding-horizontal > .list .item {
     margin-right: 16px;
     margin-left: 16px;
     margin-top: 10px;
  }
  .card-adpat{
    background: #daf5fe;
    margin-top: 0px;
  }
  .item{
    border: none;
  }
  .line-adapt{
    width: 90%;
    border-radius: 10px;
    background: #fff;
  }
  .row-adapt{
    width: 90%;
    border-radius: 10px;
    background: #fff;
    margin-right: 16px;
    margin-left: 16px;
    margin-top: 10px;
  }

  .btn-adapt{
    width: 150px;
    margin: 10px auto;
    border-radius: 10px;
    background: #3f93ef;

  }
}



