@charset "UTF-8";
.reset_pass_apply_file{
  .reset-stu-div{
    border: 1px solid #ddd;
    .reset-stu-ass-tip{
      margin: 10px 0px 0px 10px;
    }
    .check-box-stu-pass-wrap{
      margin-left: 10px;
      display: inline-block;
      .check-box{
        font-size: 200%;
        color: #387ef5;
      }
      .check-box-text{
        font-size: 110%;
        vertical-align: super;
      }
    }
  }



}