@charset "UTF-8";
@import "./../include/_mixins";

.student-toolbar{
  width: 100%;
  border-bottom: 1px solid #c0c0c0;
  padding: 10px;
  .student-button{
    background-color: #11c1f3;
    color: #fff;
    height: 25px;
    width: 40px;
    display: inline-block;
    text-align: center;
    line-height: 25px;
    border-radius: 4px;
    margin-right: 10px;
  }
}
.list-title{
  padding: 8px 30px 8px 30px;
  border-color: #ccc;
}

.clazz-list{
  padding: 8px 8px 8px 50px;
  border-color: #ddd;
}

.student-list{
  padding: 8px 8px 8px 20px;
  border-color: #ccc;
  .level-select{
    width: 80px;
    float: right;
  }
}