@charset "UTF-8";
@import "./../include/_mixins";

.xly_promote_home{
  background: #fff;
  height: 100%;
  width: 100%;
  color:#2E344B;
  font-size:18px;

  .scroll{
    height: 100%;
  }

  .promote_introduce{
    width: 100%;
    padding: 16px;
    .rewardBtn{
      background: #669FDF;
      border-style: none;
      width: 100px;
      height: 40px;
      border-radius: 10px;
      font-size: 16px;
      color: #fff;
      @media screen  and (max-width: 600px)   {
        position: absolute;
        top: 160px;
      }
      @media screen  and (min-width: 601px)   {
        position: absolute;
        top: 240px;
      }
    }
  }

  .promote_btn{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: space-between;
    .flex_1;
    -webkit-align-items: center;
    @media screen  and (max-width: 600px)   {
      padding-top: 30px;
    }
    @media screen  and (min-width: 601px)   {
      padding-top: 50px;
    }

    .btn{
      .display-flex;
      .com_align_item;
      flex-direction: row;
      -webkit-flex-direction:row;
      margin-top:10px;
      padding:15px;
      background: #ffffff;

      img{
        width: 30px;
        height: 30px;
      }
      span, .spaces{
        margin-left:10px;
      }
    }

    .wx-share-btn{
      background-color: #f26262;
      width: 70%;
      max-width: 200px;
      color: #fff;
      border-radius: 6px;
    }
    .order-list-btn{
      -webkit-justify-content: flex-end;
      justify-content: flex-end;
      width: 100%;
    }
   /* .wxArea{
      background: #dda687;
    }

    .qqArea{
      background: #97d39d;
    }

    .assetsArea{
      background: #c998c8;
    }*/
  }
}