.game_goods_pay_result{
  .myHeader {
    background: #BF60D7 !important;

    .title ,.button i{
      color:#fff !important;
    }
  }

  .payResult{
    top: 44px !important;
    background: #734E9C;
    color: #fff;
    height:100%;

    .result{
      width: 76%;
      margin-left: 12%;
      margin-top: 12%;
      text-align: center;
    }

    .text{
      margin-top: 5px;
      font-size:25px;
    }

    .common-pay-btn{
      width: 120px;
      @media screen and(min-width: 768px){
        width:150px;
      }
  }

    .successBtn{
      margin-top: 15%;
      img{
        .common-pay-btn;
      }
    }

    p{
      font-size: 15px;
      margin-top:5px;
    }

    .failBtn{
      margin-top: 15%;
      img{
        .common-pay-btn;
      }
    }
  }


  .check{
    top: 44px !important;
    width: 100%;
    height:100%;
    margin-top:40%;
    font-size: 20px;
    text-align: center;


    u{
      color:#0a9dc7;
    }

  }
}
