<div>
    <div ng-if="lineCount == 2">

        <p>
            <i class="icon ion-volume-high"></i>
            <span class="left-title" ng-bind="item.createTime+', '"></span>
            <span class="left-title" ng-bind="item.studentName+ '('"></span>
            <span ng-bind="item.schoolName" class="school school-normal"
                  ng-class="{'school-100':item.styleType==3, 'school-80':item.styleType==2, 'school-60':item.styleType==1}">
                                </span>
            <span ng-bind="')'"></span>
        </p>

        <!--作业-->
        <p class="second-p" ng-if="item.type == msgType.work || item.type===undefined">
            <span class="content-text" ng-bind="'作业—完成'+item.scheduleDeliverName+', 正确率'"></span>
            <i ng-bind="item.scoreRate" class="accuracy school-normal"
               ng-class="{'school-100':item.styleType==3, 'school-80':item.styleType==2, 'school-60':item.styleType==1}">
            </i>
        </p>

        <!--驯宠单题-->
        <p class="second-p" ng-if="item.type == msgType.diagnoseSingle">
            <span class="content-text" ng-bind="'征服 '+item.score+' 个考点，今日共征服 '+item.totalScore+' 个'"></span>
        </p>

        <!--驯宠试卷-->
        <p class="second-p" ng-if="item.type == msgType.diagnosePaper">
            <span class="content-text" ng-bind="'一次征服 '+item.score+' 个考点，今日共征服 '+item.totalScore+' 个'"></span>
        </p>

        <!--速算闯关-->
        <p class="second-p" ng-if="item.type == msgType.computeLevel">
            <span class="content-text" ng-bind="'速算—成功闯过'+item.scheduleDeliverName+', 正确率'"></span>
            <i ng-bind="item.scoreRate" class="accuracy school-normal"
               ng-class="{'school-100':item.styleType==3, 'school-80':item.styleType==2, 'school-60':item.styleType==1}">
            </i>
        </p>

        <!--速算挑战-->
        <p class="second-p" ng-if="item.type == msgType.computeChallenge">
            <span class="content-text" ng-bind="'速算—'+item.scheduleDeliverName"></span>
        </p>

        <!--普通游戏-->
        <p class="second-p" ng-if="item.type == msgType.game">
            <span class="content-text" ng-bind="'游戏—顺利通过'+item.scheduleDeliverName+', 获得 '"></span>
            <i ng-bind="item.score" class="accuracy school-normal"
               ng-class="{'school-100':item.styleType==3, 'school-80':item.styleType==2, 'school-60':item.styleType==1}">
            </i>
            <span class="content-text" ng-bind="' 颗星'"></span>
        </p>
    </div>

    <div ng-if="lineCount == 4">
        <p>
            <i class="icon ion-volume-high"></i>
            <span class="left-title" ng-bind="item.createTime+', '"></span>
            <span class="left-title" ng-bind="item.studentName"></span>
        </p>
        <p>
                                <span ng-bind="item.schoolName" class="school school-normal"
                                      ng-class="{'school-100':item.styleType==3, 'school-80':item.styleType==2, 'school-60':item.styleType==1}">
                                </span>
        </p>

        <!--作业-->
        <p ng-if="item.type == msgType.work || item.type===undefined">
            <span class="content-text" ng-bind="'作业—完成'+item.scheduleDeliverName"></span>
        </p>
        <p class="second-p" ng-if="item.type == msgType.work || item.type===undefined">
            <span ng-bind="'正确率'"></span>
            <i ng-bind="item.scoreRate" class="accuracy school-normal"
               ng-class="{'school-100':item.styleType==3, 'school-80':item.styleType==2, 'school-60':item.styleType==1}">
            </i>
        </p>

        <!--驯宠单题-->
        <p class="second-p" ng-if="item.type == msgType.diagnoseSingle">
            <span class="content-text" ng-bind="'征服 '+item.score+' 个考点'"></span>
        </p>
        <p class="second-p" ng-if="item.type == msgType.diagnoseSingle">
            <span class="content-text" ng-bind="'今日共征服 '+item.totalScore+' 个'"></span>
        </p>


        <!--驯宠试卷-->
        <p class="second-p" ng-if="item.type == msgType.diagnosePaper">
            <span class="content-text" ng-bind="'一次征服 '+item.score+' 个考点'"></span>
        </p>
        <p class="second-p" ng-if="item.type == msgType.diagnosePaper">
            <span class="content-text" ng-bind="'今日共征服 '+item.totalScore+' 个'"></span>
        </p>

        <!--速算闯关-->
        <p ng-if="item.type == msgType.computeLevel">
            <span class="content-text" ng-bind="'速算—成功闯过 ' +item.scheduleDeliverName"></span>
        </p>
        <p class="second-p" ng-if="item.type == msgType.computeLevel">
            <span ng-bind="'正确率'"></span>
            <i ng-bind="item.scoreRate" class="accuracy school-normal"
               ng-class="{'school-100':item.styleType==3, 'school-80':item.styleType==2, 'school-60':item.styleType==1}">
            </i>
        </p>

        <!--速算挑战-->
        <p class="second-p" ng-if="item.type == msgType.computeChallenge">
            <span class="content-text" ng-bind="'速算—' + item.scheduleDeliverName.split('，')[0]"></span>
        </p>
        <p class="second-p" ng-if="item.type == msgType.computeChallenge">
            <span class="content-text" ng-bind="item.scheduleDeliverName.split('，')[1]"></span>
        </p>

        <!--普通游戏-->
        <p ng-if="item.type == msgType.game">
            <span class="content-text" ng-bind="'游戏—顺利通过'+item.scheduleDeliverName"></span>
        </p>
        <p class="second-p" ng-if="item.type == msgType.game">
            <span ng-bind="'获得 '"></span>
            <i ng-bind="item.score" class="accuracy school-normal"
               ng-class="{'school-100':item.styleType==3, 'school-80':item.styleType==2, 'school-60':item.styleType==1}">
            </i>
            <span ng-bind="' 颗星'"></span>
        </p>

    </div>
</div>