<div class="item item-input block-input">
    <input type="text"
           placeholder="开始时间"
           ng-model="formData.startTime"
           name="startTime"
           required
           readonly="readonly"
           id="startTime"
           style="background-color: #fff"
            />
</div>
<div class="item item-input block-input">
    <input type="text"
           placeholder="截止时间"
           ng-model="formData.endTime"
           name="endTime"
           required
           readonly="readonly"
           id="endTime"
           style="background-color: #fff"
            />
</div>
