@charset "UTF-8";
.group_buying_pay {
  width: 100%;
  height: 100%;
  .background_change(@color1,@color2) {
    background: -webkit-linear-gradient(@color1, @color2); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(@color1, @color2); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(@color1, @color2); /* Firefox 3.6 - 15 */
    background: linear-gradient(@color1, @color2); /* 标准的语法 */
  }
  .background_change(#5185F3, #7bE2EE);
  .myHeader {
    background: rgba(252, 111, 86, 0) !important;
    border: none;

    .title, .button i {
      color: #fff !important;
    }
  }

  .weixin_pay_display(@dir) {
    display: flex;
    display: -webkit-flex;
    flex-direction: @dir;
    -webkit-flex-direction: @dir;
  }
  .weixin_pay_display_vc (@vc) {
    align-items: @vc;
    -webkit-align-items: @vc;
  }

  .weixin_pay_justify_content(@content) {
    justify-content: @content;
    -webkit-justify-content: @content;
  }

  .wxPay_pay_bg { //广告位
    position: absolute;
    width: 100%;
    height: 100%;
    .wxPay_pay_bg_bottom {
      position: absolute;
      bottom: -30px;
      width: 100%;
      height: 40%;
      min-height: 300px;
      .wxPay_pay_bg_bottom_left {
        background: url("../../../../m_global/sImages/weixin_pay/GTA0005.png") 0px 0px no-repeat;
        background-size: 100% 100%;
        position: absolute;
        height: 100%;
        width: 40%;
        left: 0px;
        bottom: 0px;
      }
      .wxPay_pay_bg_bottom_right {
        background: url("../../../../m_global/sImages/weixin_pay/GTA0006.png") 0px 15px no-repeat;
        background-size: 100% 100%;
        position: absolute;
        height: 80%;
        width: 40%;
        right: 0px;
        bottom: 0px;
      }

    }
  }

  .wxPay-ion-content {
    top: 10% !important;
    height: 100%;
    width: 100%;

    .scroll {
      width: 100%;
      height: 100%;
    }

    .wxPayContent {
      height: 100%;
      background: rgba(252, 111, 86, 0) !important;

      .productDetails {
        background: #fff;
        color: #666666;
        width: 90%;
        height: 35%;
        min-height: 200px;
        margin: 0 5% 4% 5%;
        font-size: 16px;
        border-radius: 7px;
        padding-top: 10px;

        @media screen and (max-width: 375px) {
          font-size: 15px;
        }
        @media screen and (max-width: 375px) {
          //height: 200px;
          font-size: 16px;
        }

        .weixin_pay_display(column);
        .weixin_pay_display_vc(center);
        .weixin_pay_justify_content(center);

        .details_title {
          color: #3c7cc9;
          font-size: 24px;
          font-weight: bolder;
          margin: 0px;
        }
        .details_sub_title {
          color: #3c7cc9;
          font-weight: bold;

        }
        .describe {
          //width: 90%;
          //height: 100%;
          ul {
            padding-left: 5%;
          }
          li {
            color: #5CF57C;
            list-style-type: disc;
            padding-bottom: 1%;
          }

          span {
            color: #666666;
            white-space: nowrap;
          }
        }

      }

      .money {
        width: 90%;
        height: 10%;
        min-height: 45px;
        text-align: right;
        //margin: 3% 2%;
        margin: 3% 2% 1% 2%;
        .weixin_pay_display(column);
        .weixin_pay_justify_content(flex-end);
        p {
          margin: 0px;
        }

        .moneyNum {
          color: #F5615C;
          font-size: 30px;
          font-weight: bold;
        }
      }

      //支付按钮
      .payBtn {
        width: 90%;
        height: 35%;
        min-height: 150px;
        max-height: 350px;
        margin-left: 5%;

        .display-flex {
          display: flex;
          display: -webkit-flex;
          justify-content: flex-start;
          -webkit-justify-content: flex-start;
          -webkit-align-items: center;
          align-items: center;
          flex-flow: row;
          -webkit-flex-flow: row;
        }

        .clicked {
          background: #d1cdcd !important;
        }
        .btn {
          font-size: 16px;
          padding: 8px 0 8px 10%;
          width: 100%;
          margin-bottom: 10px;
          border-radius: 7px;
          background: #fff;

          span {
            margin-left: 5px;
          }

          .imgQr {
            width: 32px;
            height: 32px;
          }
        }

        .protocol {
          text-align: center;
          font-size: 16px;
        }
      }

    }
  }

}





