.clazz_student_list{
    auto-box-con auto-box-row auto-box-block .block-content img{
        width: 60px;
        margin-left: 20px;
        border-radius: 50%;
        background: #fff;
    }
    auto-box-con auto-box-row auto-box-block .checker{
        border-left: 2px solid #ddd;
        border-bottom: 2px solid #ddd;
    }
    .claz_student_list_file{
        .select-options{
            width: 75px;
            height: 20px;
            display: flex;
            display: -webkit-flex;
            flex-direction: row;
            -webkit-flex-direction: row;
            justify-content: space-around;
            -webkit-justify-content: space-around;
            align-items: center;
            -webkit-align-items: center;
            border: solid 1px #a1a2a0;
            background-color: #dddfe0;
        }
        .layered{
            text-align: center;
            font-weight: bold;
            background-color: #d2f7ef;
        }
        .item{
            border: none;
        }
        .question-wrap{
            padding: 10px 10px;
            border: 1px solid red;
            border-radius: 10px;
            p{
                color: red;
                font-size: 16px;
                text-align: center;
                margin: 0;
            }
        }
        .tip-wrap{
            padding: 10px 6px;
            border: 1px solid red;
            border-radius: 10px;
            margin: 20px 10px 20px 10px;
            p{
                color: red;
                font-size: 15px;
                text-align: center;
                margin: 0;
            }
        }
    }

}