<ion-view hide-nav-bar="true" class="growing-auth" >
    <div class="simply-head">
        <a class="button back-button buttons  button-clear header-item common-back-btn growing-back"
           nav-direction="back"
           style="color: #ffffff !important; "
           ng-style="{'top':ctrl.isIos()?'13px':'0'}"
           ng-click="ctrl.back()">
            <i class="icon ion-ios-arrow-back"></i>
            <i>成长相册</i>
        </a>
    </div>
    <div class="moreBtns" ng-style="{'top':ctrl.isIos()?'12px':'0'}">
        <a class="icon m-i ion-android-contacts btn" ng-click="ctrl.gotoClassList()"></a>
        <span class="badge badge-assertive updateDot"
              ng-class="ctrl.updateCount>9 ? 'dot2' : 'dot1'"
              ng-if="ctrl.updateCount>0">{{ctrl.updateCount}} </span>
        <a class="icon m-i ion-android-camera btn " ng-click="ctrl.gotoPubNewMsg()"></a>
    </div>

    <ion-header-bar align-title="center" class="head-bar" ng-if="ctrl.isShowHeadTipFlag && !ctrl.isIos()">
    </ion-header-bar>
    <ion-header-bar align-title="center" class="head-bar" ng-if="ctrl.isShowHeadTipFlag && ctrl.isIos()"
                    style="height: 60px">
    </ion-header-bar>

    <ion-content class="auth-content" on-scroll="ctrl.changeHeadTip()"><!-- ng-style="{'top':ctrl.isIos()?'180px':'150px'}">-->
        <div class="auth-head"> <!--ng-style="{'top':ctrl.isIos()?'30px':'0'}">-->
            <div class="head-content">
                <div class="photo-area">
                    <div class="photo-wrap">
                        <img ng-src="{{ctrl.authImg}}" alt="" class="photo">
                    </div>
                    <p class="name" ng-bind="ctrl.userName + '成长相册'"></p>
                </div>
            </div>
        </div>

        <div class="growing-home-tip" ng-if="ctrl.recordsList.length==0">
            <span ng-if="ctrl.getListFlag && ctrl.getListRestFlag">您还没有发布消息，赶快去发布吧...</span>
            <span ng-if="ctrl.getListFlag && !ctrl.getListRestFlag">获取数据失败，请切换页面重试.</span>
            <span ng-if="!ctrl.getListFlag">正在获取成长记录，请稍候...</span>
        </div>
        <div class="list record-card" ng-repeat="record in ctrl.recordsList" ng-if="ctrl.recordsList.length>0">
            <div class="item item-avatar detailsHead">
                <img class="head" ng-src="{{ctrl.authImg}}">
                <h3 style="margin: 11px 0 0 0;" class="blueColor">{{ctrl.userName}}</h3>
                <span class="date">{{record.displayDate}}</span>
                <span class="date blueColor deleteBtn"
                      ng-click="ctrl.deleteDisplayRecord($index)">删除</span>
            </div>
            <div class="item item-body">
                <p style="margin: 0 0 5px 10px;  color:#000;">{{ record.explain}}</p>
                <div class="msgImg" ng-if="record.extendData.imgSrcArr.length>0">
                    <img ng-repeat="imgSrc in record.extendData.imgSrcArr"
                         ng-class="ctrl.getMyImgClass(record)"
                         ng-src="{{imgSrc}}"
                         ng-click="ctrl.clickPhoto(record,$index)">
                </div>
                 <div class = "label" ng-if="record.recordLabel && record.recordType">
                   <a class="icon m-i ion-ios-pricetags " style="color:#848484"></a>
                   <span class="labelWord">{{record.recordLabel}}&nbsp;&nbsp;{{record.recordType}}</span>
               </div>
                <div class="operateArea">
                    <div class="operateBtn">
                        <div class="oneBtnArea" ng-click="ctrl.toggleSendPraise($index)">
                            <div><!-- class="imgBtn">-->
                                <img ng-src="{{record.extendData.praise.flag ?$root.loadImg('growing/praise2.png') : $root.loadImg('growing/praise1.png')}}">
                            </div>
                            <span class="operateWord">点赞</span>
                            <span class="operateNum" ng-if="record.praise>0">{{record.praise}}</span>
                        </div>

                        <div class="oneBtnArea" ng-click="ctrl.toggleSendFlower($index)">
                            <div><!--class="imgBtn">-->
                                <img ng-src="{{record.extendData.flower.flag ?$root.loadImg('growing/flower2.png') : $root.loadImg('growing/flower1.png')}}">
                            </div>
                            <span class="operateWord">送花</span>
                            <span class="operateNum" ng-if="record.flower>0">{{record.flower}}</span>
                        </div>

                        <div class="oneBtnArea" ng-click="ctrl.impeachMyself()">
                            <div><!-- class="imgBtn">-->
                                <img ng-src="{{$root.loadImg('growing/impeach2.png')}}">
                            </div>
                            <span class="operateWord">举报</span>
                            <span class="operateNum" ng-if="record.impeach>0">{{record.impeach}}</span>
                        </div>

                    </div>
                    <div class="operateDetails" ng-if="record.praise>0 || record.flower>0">
                        <div ng-if="record.praise>0">
                            <div class="detailMsg"
                                 ng-show="!record.extendData.isPraiseNameUnfold && record.praiseUser.length > ctrl.showNameCount">
                                <img class="detailsImg" ng-src="{{$root.loadImg('growing/praise2.png')}}">
                                <span>{{record.extendData.praise.foldNameStr}}等{{record.praise}}人觉得很赞</span>
                                <span ng-if="record.praiseUser.length > ctrl.showNameCount"
                                      ng-click="ctrl.togglePraise($index)"
                                      class="upFold">展开>></span>
                            </div>
                            <div class="detailMsg"
                                 ng-show="record.extendData.isPraiseNameUnfold || record.praiseUser.length <= ctrl.showNameCount">
                                <img class="detailsImg" ng-src="{{$root.loadImg('growing/praise2.png')}}">
                                <span>{{record.extendData.praise.unfoldNameStr}}觉得很赞</span>
                                <span ng-if="record.praiseUser.length > ctrl.showNameCount"
                                      ng-click="ctrl.togglePraise($index)"
                                      class="upFold">收起<<</span>
                            </div>
                        </div>

                        <div ng-show="record.flower>0">
                            <div class="detailMsg"
                                 ng-show=" !record.extendData.isFlowerNameUnfold && record.flowerUser.length > ctrl.showNameCount">
                                <img class="detailsImg" ng-src="{{$root.loadImg('growing/flower2.png')}}">
                                <span>{{record.extendData.flower.foldNameStr}}等{{record.flower}}人给您送花</span>
                                <span ng-if="record.flowerUser.length > ctrl.showNameCount"
                                      ng-click="ctrl.toggleFlowerName($index)"
                                      class="upFold">展开>></span>
                            </div>
                            <div class="detailMsg"
                                 ng-show="record.extendData.isFlowerNameUnfold || record.flowerUser.length <= ctrl.showNameCount">
                                <img class="detailsImg" ng-src="{{$root.loadImg('growing/flower2.png')}}">
                                <span>{{record.extendData.flower.unfoldNameStr}}给您送花</span>
                                <span ng-if="record.flowerUser.length > ctrl.showNameCount"
                                      ng-click="ctrl.toggleFlowerName($index)"
                                      class="upFold">收起<<</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>

<div class="growing_photo_big" ng-style="{'height':ctrl.getScreenHeight()}" ng-if="ctrl.showPhotoFlag"
     ng-click="ctrl.toggleBigPhotos()">
    <div class="photo_area" ng-if="ctrl.selectedPhotoList.length>1" >
        <ion-slide-box active-slide="ctrl.currentIndex">
            <ion-slide  ng-repeat="photo in ctrl.selectedPhotoList">
                <div  class="img-flex" ng-style="{height:ctrl.photoStyleList[$index].maxHeight}">
                  <!--  <ion-scroll zooming="true" style="width: 100%;height: 97%;" direction="xy"  delegate-handle="imgScroll">
                        <img ng-src="{{photo}}" id="errorImg" style=" width: 100%;height: auto;">
                    </ion-scroll>-->

                    <img ng-src="{{photo}}"
                         ng-style="{width:ctrl.photoStyleList[$index].width, height:ctrl.photoStyleList[$index].height}">
                </div>
            </ion-slide>
        </ion-slide-box>
    </div>
    <div class="photo_area  display-flex" ng-if="ctrl.selectedPhotoList.length==1">
        <div ng-repeat="photo in ctrl.selectedPhotoList">
                <img id="signalImg" ng-src="{{photo}}"
                 ng-style="{width:ctrl.photoStyleList[0].width , height:ctrl.photoStyleList[0].height}">
        </div>
     <!--   <ion-scroll zooming="true" style="width: 100%;height: 97%;" direction="xy"  delegate-handle="imgScroll">
            <img ng-src="{{photo}}" style=" width: 100%;height: auto;">
        </ion-scroll>-->
    </div>
</div>



