@import '../../../../m_boot/less/theme01/include/_mixins';

.growing-classmate-list {
  width: 100%;
  background: #f5f5f5;

  .bar-balanced {
    background: #83DCF5!important;
    border-style: none;
  }

  .growing-record-list{
    .clazz_select {
      top: 0;
      border-left-width: 6px;
      background: #d2d5df;
      .clazz_select_block {
        padding: 6px;
        .clazz-item {
          background: white;
          border-radius: 7px;
          width: 99%;
          padding: 15px 0;
          min-height: 158px;

        }

        .clazz-name {
          font-size: 17px;
          margin-top:10px;
        }

        .clazz_select_img {
          margin-top: 14px;
          width: 105px;
        }
      }
    }


    .classmate-record-list{
      .selected-clazz{
        padding: 10px;
        .display-flex;

        .selected-clazz-name{
          .display-flex;
          padding-right : 20px;
          img{
            margin-right : 20px;
            width: 32px;
            height: 32px;
          }
        }
      }

      .clazz_tip{
        padding:5px 20px;
        text-align: center;
      }

      .record-list{
        background: #ffffff;

        .person {
          margin: 8px 0;
          border-style: none;
          height:60px;

          .personName{
            margin-top: 13px;
          }
        }

        .newCount{
          top: 18px;
          right: 80px;
        }

        .rightArrow{
          font-size: 20px;
          color: #a59e9e !important;
        }
      }
    }

  }


}


