.select_question_file {
  .spinner-text {
    /*position: absolute;*/
  }
  .spinner {
    svg {
      margin-top: 8px;
    }

  }
  .page_header {
    .spinner-container {
      /*padding-right:115px;*/
      display: flex;
      display: -webkit-flex;
      -webkit-justify-content: center;
      justify-content: center;

    }
  }
}