@import "./../../../../m_boot/less/theme01/include/_mixins";
.xly_vip_v2_file {
  .display_flex(@dir,@justify,@align) {
    display: flex;
    display: -webkit-flex;
    flex-direction: @dir;
    -webkit-flex-direction: @dir;
    justify-content: @justify;
    -webkit-justify-content: @justify;
    align-items: @align;
    -webkit-align-items: @align;
  }
  ::-webkit-scrollbar{
    display: none;
  }
  background:#ffa33c;

  .year-card-pay-header{
    background:initial;
    border-bottom:none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    .title, .button{
      color: white;
    }
  }
  .year-card-pay-content{
    position: absolute;
    bottom: 0;
    width: 100%;
    .scroll{
      height: 100%;
    }
    .pay-content{
      .display_flex(column,center,center);
      height: 100%;
      width: 100%;
      overflow: hidden;
      padding-top: 8px;
      .banner-img-box{
        height: 160px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        display: -webkit-flex;
        -webkit-justify-content: center;
        -webkit-align-items: flex-start;
        img{
          width: 80%;
          margin-top: -20px;
        }
      }
      .pay-content-top-warp{
        width: 80%;
        padding: 0 20px;
        max-width: 600px;
        .flex_1;
        .display-flex-pure;
        .pay-content-top{
          background-color: white;
          border-radius: 10px;
          overflow: hidden;
          position: relative;
          .flex_1;
          .display_flex(column,center,center);
          .pay-content-info{
            padding: 6px;
            width: 100%;
            img{
              width: 100%;
            }
          }

          .pay-content-scroll{
            .flex_1;
            color: #2b4b7d;
            width: 100%;
            background-color: white;
            border-radius: 10px;
            .desc-title{
              p{
                font-size: 12px;
                padding-left: 57px;
                color: #2c58bf;
              }
            }
            .desc-detail{
              margin-top: 10px;
              .desc-detail-prePrice{
                position: relative;
                img{
                  position: absolute;
                  width: 100%;
                  height: 100%;
                }
              }
              .desc-detail-prePrice:before{
                position: absolute;
                width: 100%;
                height: 100%;
                content: "";
                background: url("./../../../images/wxpayRedLine.png") center center;
                background-size: cover;
              }
              .desc-detail-disabled{
                background-color: #dddddd;
              }
            }
            .item{
              border:none;
              font-size: 14px;
              margin: 0;
              padding-top: 6px;
              padding-bottom: 6px;
              color: #2b4b7d;
              .item-content{
                overflow: initial;
                text-overflow: initial;
                white-space: normal;
                .display-flex-pure;
                .com_align_item;

                span:first-child{
                  .flex_1;
                }
                span:nth-child(2){
                  margin: 0 10px;
                }
                span:nth-child(3){
                  color: #D80000;
                }
                span:last-child{
                  margin-right: -16px;
                  margin-left: 4px;
                  color: #0054ff;
                }
              }
              .checkbox-icon:before{
                border-radius: 6px;
              }
              .checkbox-icon:after{
                border-width: 2px;
              }
              .item-checkbox .checkbox{
                left: 0;
                right: 0;
              }
            }
            .item[disabled=disabled]{
              .checkbox-icon:before{
                background-color:#dddddd;
              }
              .checkbox-icon:after{
                border-color: #03bb03;
              }
            }
            .scroll-bar .scroll-bar-indicator.scroll-bar-fade-out {
              opacity: 1;
            }
          }

        }

      }
      .top-price{
        text-align: end;
        padding: 10px 20px 0 20px;
        font-size: 17px;
        color: #2b4b7d;
        width: 80%;
        max-width: 600px;
        span{
          color: red;
        }
      }
      .pay-content-bottom{
        width: 80%;
        max-width: 600px;
        margin: auto;
        padding: 10px 20px;
        //min-height: 150px;
        max-height: 350px;
        color: #2b4b7d;
        .display-flex {
          display: flex;
          display: -webkit-flex;
          justify-content: flex-start;
          -webkit-justify-content: flex-start;
          -webkit-align-items: center;
          align-items: center;
          flex-flow: row;
          -webkit-flex-flow: row;
        }

        .clicked {
          background: #d1cdcd !important;
        }
        .btn {
          font-size: 16px;
          padding: 8px 0 8px 10%;
          width: 100%;
          margin-bottom: 10px;
          border-radius: 7px;
          background: #fff;

          span {
            margin-left: 5px;
          }

          .imgQr {
            width: 32px;
            height: 32px;
          }
        }

        .protocol {
          text-align: center;
          font-size: 16px;
        }
      }
    }
    .pay-content-ios{
      padding-top: 28px;
    }
  }

  .year-card-pay-header-ios{
    margin-top: 10px;
  }
  @media screen and (max-width: 768px){
    .year-card-pay-content .pay-content{
      .pay-content-top-warp,.pay-content-bottom,.pay-content-middle,.top-price{
        width: 100%;
      }

      .pay-content-top-warp .pay-content-top .pay-content-scroll .item{
        font-size: 12px;
      }

    }
  }
}