<ion-view title="评价反馈" hide-nav-bar="true" class="work_praise_file">
    <ion-header-bar class="bar-balanced" align-title="center">
        <div class="button button-clear" ng-click="ctrl.back()">
            <i class="icon ion-ios-arrow-back"> </i>
            &nbsp;&nbsp;
        </div>
        <h1 class="title">评价反馈</h1>
    </ion-header-bar>

    <ion-content class="wpf_content"  overflow-scroll="true" style="height: auto!important;">
        <div class="bg-box">
             <img ng-src="{{$root.loadImg('work_praise/work_praise_bg_inner.png')}}" width="100%"  height="100%">
             <div class="bg-inner-box">
                 <div class="bg-inner-box1">
                     <img ng-src="{{$root.loadImg('work_praise/work_praise_bg.png')}}"  width="100%">
                 </div>
             </div>
        </div>

        <ng-form name="correctQForm" novalidate class="list" >
            <div  class="wpf_content_title" ><span >奖励</span></div>
            <div class="wpf_content_card">
                <div class="card wpf_content_card_option">
                    <div class="item item-input block-input praise-img-div option_cell"
                         ng-repeat="praiseType in ctrl.data.praiseTypeList">

                        <ion-checkbox ng-model="praiseType.selected"
                                      ng-click="ctrl.handleClick(praiseType)"
                                      class="item-checkbox-right ">
                            <img ng-src="{{$root.loadImg(praiseType.img)}}">
                            <span class = "option_word">{{praiseType.text}}</span>
                        </ion-checkbox>

                    </div>
                </div>
                <div class="write-praise wpf_content_card_word" >
                    <textarea placeholder="在这里填写反馈或评价" rows="4" id="teacherPraise"></textarea>
                    <div class="select-praise-div" ng-click="ctrl.openPraiseModal()">
                        <i class="icon ion-ios-plus-outline"></i> <span>常用评价语</span>
                    </div>

                </div>
            </div>
            <div class="praise-group wpf_content_group">
                <span class="tip"> 发送给:</span>
                </br>
                <div class="person" ng-repeat="stu in  ctrl.data.stu.stuSelectedList "
                     ng-click="ctrl.data.stu.stuSelectedList.splice($index,1)">
                    <span>{{stu.name}}</span>
                    <i class="icon ion-close"
                       ng-click="ctrl.data.stu.stuSelectedList.splice($index,1)"></i>
                </div>
            </div>

        </ng-form>

    </ion-content>

    <loading-processing load-top="100"></loading-processing>
    <ion-footer-bar class="bg-balanced">
        <button class="button-clear bg-calm  bar-item"
                ng-click="ctrl.savePraise()">
            <i class="icon ion-ios-checkmark"></i>
            发送
        </button>
    </ion-footer-bar>
</ion-view>

<script id="selectPraise.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar-balanced" align-title="center">
            <button class="button back-button buttons  button-clear header-item"
                    ng-click="ctrl.closePraiseModal()">
                <i class="icon ion-ios-arrow-back"></i>
                &nbsp;&nbsp;
            </button>
            <h1 class="title" align-title="center">常用评价语</h1>
        </ion-header-bar>

        <ion-content class="list">
            <label class="item item-radio" ng-repeat="rec in ctrl.data.currentStu.praiseList"
                   ng-click="ctrl.selectedPraise(rec)">
                <div ng-if="rec.checkStatus">
                    <input type="radio" name="group" checked>

                    <div class="item-content">{{rec.value}}</div>
                    <i class="radio-icon ion-checkmark assertive"></i>
                </div>
                <div ng-if="!rec.checkStatus">
                    <input type="radio" name="group">

                    <div class="item-content">{{rec.value}}</div>
                    <i class="radio-icon ion-checkmark assertive"></i>
                </div>
            </label>
        </ion-content>
        <loading-processing load-top="100"></loading-processing>
    </ion-modal-view>
</script>
