line-match {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    width: 100%;
    position: relative;

}
line-match .line-match-content {
    width: 100%;
    position: relative;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
}
line-match .line-match-content .left-part-content {
    flex: 1;
    -webkit-flex: 1;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
}
line-match .line-match-content .mid-part-content {
    flex: 1;
    -webkit-flex: 1;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
}
line-match .line-match-content .right-part-content {
    flex: 1;
    -webkit-flex: 1;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
}
line-match .line-match-content .line-match-item {
    width: 100%;
    background: #d1eeff;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    margin: 1px 1px 5px 1px;
    border: none;
    word-break: break-all;
    min-height: 70px;
    flex-direction: column;
    -webkit-flex-direction: column;
}
line-match .line-match-content .line-match-item .line-match-item-img {
    /*width: 30px;*/
    max-width: 100%;
    display: block;
}
line-match .line-match-content .line-match-item .line-match-item-num {
    word-break: normal;
}
line-match .line-match-content .line-match-item:active {
    background-color: aquamarine !important;
}
line-match .active {
    background-color: aquamarine !important;
}
line-match .right-wrong-mark {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
}
line-match .right-wrong-msg {
    color: #ff1111;
    margin: auto;
}