.clazz-study-statistics-file.math-oly{
  color: #fff;
  background-image: -webkit-linear-gradient(top, #b569e7, #7d4fdf);
  background-image: linear-gradient(to bottom, #b569e7 0%, #7d4fdf 100%);
  img{
    max-width: 100%;
  }
  .bar-balanced{
    background: transparent !important;
  }
  .s_work_list_con{
    background-color: transparent;
  }
  .count-tip{
    color: #000;
  }
  .bar.bar-balanced .title{
    color:#fff !important;
  }
  .bar-balanced .button.button-clear{
    color: #fff !important;
  }

}