@charset "UTF-8";
@import "../../../../t_boot/less/theme02/include/_mixins";
@import "../../../../t_boot/less/theme02/include/common";

.game_pub_file{
  .overflow-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .padding-better{
    padding-left: 10px;
  }
  .bar-better{
    background: #bcfcf8!important;
    height: 100px;
  }

  .pub-content{
    font-size: 17px;
    color: #293d69;
    background-color: #E9EDF3;
    .game-title-wrap{
      height: 55px;
      line-height: 55px;
      text-align: center;
      .game-name{
        float: left;
      }
      .game-title{
        text-align: center;
      }
    }
    .pub-conctroll-wrap{
      border: 1px solid #ddd;
      border-radius: 10px;
      box-shadow: 2px 2px 0px #aaaaaa;
      height: 55px;
      line-height: 55px;
      padding-right: 10px;
      padding-left: 10px;
      background-color: #fff;
      .first{
        display: inline-block;
        width: 49%;
        border: none;
        margin: 0;
      }
      .second{
        display: inline-block;
        width: 49%;
        border: none;
        margin: 0;
      }
    }
    .pub-list-wrap{
      .item{
        border: none;
      }
      .has-no-clazz{
        margin-top: 20px;
      }
      .clazz-even{
        background-color: #FEFAF1;
      }
      .pub-clazz-name-wrap{
        height: 40px;
        line-height: 40px;
        margin-top: 20px
      }
      .clazz-name-wrap{
        height: 50px;
        line-height: 50px;
        text-align: center;
        background-color: #aff1e1;
        .clazz-name{

        }
      }

    }
  }
}




