@charset "UTF-8";

.work_points_file{
  background-color: #fff;

  .wp_content_top{
    color: #293d69;
    margin-top: 44px;
    .wp_content_top_title{
      height: 55px;
      text-align: center;
      font-size: 16px;
      line-height: 55px;
      background-color: #e6fffe;
    }
    .wp_content_top_type{
      background-color: #fff;

      width: 100%;
      height: 30px;
      line-height: 30px;
      text-align: right;
      display: flex;
      justify-content: flex-end;
      display: -webkit-flex;
      -webkit-justify-content: flex-end;
      .type_warp{
        font-size: 16px;
        margin-right: 20px;
        width: 120px;
        display: flex;
        justify-content: space-between;
        display: -webkit-flex;
        -webkit-justify-content: space-between;


      }
    }
  }
  .wp_content_top_ios{
    margin-top: 64px;
  }

  .wp_ion_content{
    background-color: #fff;
    top:140px;
    //padding-left: 10px;
    .wp_content_text{
      display: flex;
      display: -webkit-flex;
      .wp_content_text_big{
        display: flex;
        display: -webkit-flex;
        cursor: pointer;
        //padding-bottom: 20px;

        flex: 1;
        -webkit-flex: 1;

        span{
          //font-weight: bold;
          margin-right: 5px;
          padding-left: 10px;
        }
      } 
      .wp_content_text_big_edit{
        background: rgba(199, 255, 241, 0.17);
        box-shadow: 2px 2px 8px #aaa;
        line-height: 28px;
        border-radius: 7px;
      }
      .text_big_list_num{
        width: 120px;
        display: flex;
        display: -webkit-flex;
        margin-right: 20px;
        justify-content: space-between;
        -webkit-justify-content: space-between;
        text-align: center;
        align-items: center;
        -webkit-align-items: center;
        span{width: 28px}
      }

      .wp_content_text_detail{
        cursor: pointer;
        .card{margin: 0 10px}
        .no-box-shadow{
          box-shadow: initial!important;
          cursor: initial;
        }
        .text_detail_list{
          display: flex;
          justify-content: space-between;
          display: -webkit-flex;
          -webkit-justify-content: space-between;
          align-items: center;
          border-radius: 6px;
          .text_detail_list_word{
            flex: 1;
            -webkit-flex: 1;
            display: flex;
            display: -webkit-flex;
            padding-left: 5px;
            justify-content:flex-start;
            align-items: center;
            -webkit-justify-content:flex-start;
            -webkit-align-items: center;
            span{
              padding: 5px;
              flex: 1;
              -webkit-flex: 1;
            }
          }
          .text_detail_list_num{
            width: 120px;
            display: flex;
            display: -webkit-flex;
            margin-right: 10px;
            justify-content: space-between;
            -webkit-justify-content: space-between;
            text-align: center;
            align-items: center;
            -webkit-align-items: center;
            span{width: 28px}
          }
        }
        .text_detail_list_first{
          margin-top: 5px;
        }
        .text_detail_list_last{
          margin-bottom: 5px;
        }
        .text_detail_list_bottom{
          margin-bottom: 40px;
        }
      }
    }
  }
  .wp_ion_content_ios{
    top:160px!important;
  }
  .no_que_num_top{
    top:110px;
  }
  ::-webkit-scrollbar{
    width: 0;
  }
}
