.clazz_list_file{
    .tip-wrap{
        padding: 10px 6px;
        border: 1px solid red;
        border-radius: 10px;
        margin: 20px 10px 0px 10px;
    }
    .tip-wrap{
        p{
            color: red;
            font-size: 15px;
            text-align: center;
            margin: 0;
        }
    }
    .clazz_list{
        margin-top: -10px;
        .item-divider {
            padding-bottom: 10px;
            padding-top: 16px;
            background: #accbf9 !important;
            color: #293d69;
        }
        .display-flex{
            .item-checkbox{
                .item-content {
                    span {
                        display: inline-block;
                        min-width: 60px;
                    }

                }
            }
        }
        .icon {
            color: #6B94D6;
            font-size: 18px
        }
        .card{
            .item-text-wrap {
                padding: 5px;
            }
        }
        .checkbox {
            position: relative;
            flex: 6;
            -webkit-flex: 6;
        }
        .openCheck {
            position: absolute;
            font-size: 30px;
            top: -12px;
            left: 15px;
            color: black;
        }
        .openText {
            position: absolute;
            left: 45px;
            top: -3px;
        }
        .closeText {
            position: absolute;
            top: -3px;
            left: 136px;
        }
        .closeCheck {
            position: absolute;
            font-size: 30px;
            top: -12px;
            left: 105px;
            color: black;
        }
        .ion-chevron-right {
            color: #938A8A;
            font-size: 16px;
        }
        .item {
            border-width: 0px;
            border-style: none;
        }
    }
}
