@import '../../../../m_boot/less/theme01/include/_mixins';

.wp_pay_protocol {

  .myHeader {
    //background: rgba(252, 111, 86, 0) !important;
    background: #CA75EA !important;
    border: none;
    .title, .button i {
      color: #fff !important;
    }
  }

  .wxPayProtocol02 {
    top: 44px !important;
    background: #EAEAE8;
  }

  h5 {
    text-align: center;
  }
  .protocolText {
    width: 90%;
    height: 100%;
    margin-left: 5%;
    .clauseTitle {
      font-size: 14px;
    }
    .clause {
      font-size: 13px;
    }
  }

}
