<div class="add_ques_select_board" ng-if="isShowBorad">
    <div class="m-select-borad">
        <div class="select-option-row">
            <span class="select-option-item" ng-click="selectClick('A',$event)">A</span>
            <span class="select-option-item" ng-click="selectClick('B',$event)">B</span>
            <span class="select-option-item select-option-item-butn" ng-click="selectClick('del',$event)">删除</span>
        </div>
        <div class="select-option-row">
            <span class="select-option-item" ng-click="selectClick('C',$event)">C</span>
            <span class="select-option-item" ng-click="selectClick('D',$event)">D</span>
            <span class="select-option-item select-option-item-butn" ng-click="selectClick('cancel',$event)">取消</span>
        </div>
    </a>
</div>