.display_flex {
  display: flex;
  display: -webkit-flex;
}

.align_center_flex {
  align-items: center;
  -webkit-align-items: center;
}

oral-calculation-list {
  .oral_calc_line {
    width: 100%;
    border-bottom: 1px solid #A3D1B3;
    margin-left: 50px;
  }
  .oral-question {
    padding: 30px 0 30px 0;
    .oral-calculation-equation {
      .display_flex;
      .align_center_flex;
    }
    .correct-img {
      position: absolute;
      width: 75px;
    }
    .right {
      left: 0;
      top: 0;
      height: 50px;
    }
    .wrong {
      left: -6px;
      top: -6px;
      height: 45px;
    }

  }
  .oral-question-correct {
    padding: 7px 0 7px 0;
    background: #daf5fe;
    //border: none;
  }

}

