.clear-local-data {
  .bar-header{
    background: #83DCF5!important;
  }
  .clear-local-data-loading{
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    align-items: center;
    justify-content: center;

    margin: 20px 0;
    span{
      margin-left: 10px;
      font-size: 16px;
    }
  }
  .clear-local-data-info{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    font-size: 16px;
    color: #6D6D6D;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 30px;

    .info-row{
      text-align: center;
      padding-top: 20px;
    }
    .clear-local-data-click-btn{
      min-width: 160px;
      margin: 60px auto;
    }
  }

}
.clear-data-spinner{
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  span{
    margin-left: 6px;
  }
}
.clear-data-spinner .spinner svg{
  width: 28px;
  height: 28px;
  fill: #fff;
}
