<div class="holiday-homework-ad"  ng-if="showFlag" >
    <div class="back-btn"  ng-click="hideAd()">
        <i class="icon ion-ios-arrow-back"></i>&nbsp;首页
    </div>
    <div class="holiday-homework-ad-backdrop ">
        <div class="holiday-homework-ad-content">

            <div class="content-top">
                <img ng-src="{{$root.loadImg('holiday_homework/holiday_wok_summer_ad_1.png')}}" alt="">
                <img ng-src="{{$root.loadImg('holiday_homework/holiday_wok_summer_ad_2.png')}}" alt="">
            </div>



            <div class="content-middle">
                <div class="ad_word_1">
                    <div><i class="icon ion-record"></i></div>
                    <div><p>暑假作业由<span>教研专家</span>和<span>特级名师</span>精心打造，系统全面，温故知新。</p></div>
                </div>
                <div class="ad_word_2">
                    <div><i class="icon ion-record"></i></div>
                    <div><p>系统自动发布、智能批改、即时统计分析，学生及时改错，老师和家长<span>省心省力</span>。</p></div>
                </div>
                <div class="ad_word_3">
                    <p>时间安排：</p>
                    <p>7月1日起，自动发布暑假作业，每个年级均有60套，每天1套，养成学习好习惯！</p>
                </div>

            </div>
        </div>
    </div>
</div>
