<div class="home-top-bar" ng-if="$root.showTopTaskFlag" >
    <div class="bar-better-task" id="bar-better-task">
        <img ng-src="{{$root.loadCreditsStoreImg('creditsStoreImg01.png')}}">
        <span style="font-size: 15px; color: #3F4367;font-weight: bold">我的任务</span>
        <span class="icon ion-ios-arrow-right" style="padding:0 6px"></span>

    </div>
    <!--<div class="bar-better-credits" ng-click="gotoCreditsList()">-->
        <!--<img ng-src="{{$root.loadCreditsStoreImg('creditsStoreImg02.png')}}">-->
        <!--<span ng-bind="'智慧币'+credits"></span>-->
    <!--</div>-->
</div>