.add_clazz {
  .add_clazz_file {
    .item {
      padding: 10px !important;
      input {
        background: none !important;
        cursor: pointer !important;
        width: 100%;
      }
    }

    .ion-chevron-right {
      color: #938A8A;
      font-size: 16px;
    }
  }
}
