@charset "UTF-8";
@import "./../include/_mixins";

auto-list-con {
  width: 100%;
  auto-list {
    width: 100%;
    position: relative;
    align-items: center;
    box-sizing: border-box;
    border-top: 3px solid #ffffff;
    border-left: 3px solid #ffffff;
    border-right: 3px solid #ffffff;

    .span-container{
      min-height: 40px;
      background-color: #ffffff;
      border-top: 1px solid #DDDDDD;
      padding: 0px;
      position: relative;
      overflow: auto;
    }

    .display-flex;
    //background-color: gold;
    auto-list-content {
      .flex_1;
      min-height: 70px;
      position: relative;
      padding-left: 70px;
      padding-right: 30px;
      .thumbnail-left {
        position: absolute;
        left: 5px;
        top: 5px;
        width: 60px;
        height: 60px;
      }

      .first {
        .white-bold(160, 15px);
        .overflow-ellipsis;
        margin-top: 5px;
      }
      .second {
        .white-bold(140, 13px);
        .overflow-ellipsis;
        margin-top: 24px;
      }
      .third {
        .white-bold(140, 11px);
        .overflow-ellipsis;
      }
      .tool-bar-right {
        position: absolute;
        right: 0;
        top: 5px;
        width: auto;
        height: 60px;
        border-left: 1px solid #ffffff;
        text-align: center;
        .display-flex;
        i {
          color: #ffffff;
          font-size: 30px;
          padding: 2px;
        }
      }
      .span-left{
        color: #999999;
        line-height: 40px;
        height: 40px;
        position: absolute;
      }
      .span-right{
        color: #000000;
        min-height: 30px;
        float: left;
        margin-left: 90px;
        margin-top: 10px;
      }
    }
  }
}