@charset "UTF-8";

@import "./../include/_mixins";

.block-input {
  margin: 5px;
}

.img-validate-block {
  .reset-padding;
  margin: 10px 0 13px 0;
  .item-input {
   .flex_6;
    margin-left: 5px;

  }
  img {
    .flex_4;
  }
  .button {
    .flex_1;
    margin-right: 10px;
    margin-left: 5px;
  }
}

.phone-validate-block {
  .reset-padding;
  margin: 0px 0px 5px 0px;
  .item-input {
    .flex_2;
    margin-right: 5px;
  }
  .button {
    .flex_1;
    margin-right: 15px;
    margin-left: 5px;
  }
}