.subheader-flex {
  border-bottom: 1px solid #dddddd;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;

}

.subheader-active {
  display: inline-block;
  border-radius: 15px;
  padding: 0px 12px;
  height: 30px;
  line-height: 30px;
  color: #ffffff !important;
  background: #6EAAE0;
  min-width: 80px;
}

.subheader-item {
  text-align: center;
  flex: 1 !important;
  -webkit-flex:1 !important;
  height: 100%;
  line-height: 44px;
  .sub-title{
    color: #4A3C37;
  }
}